Repository mikhpo/personal-website: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, markdownlint, mypy, poetry-export

.pre-commit-config.yaml:

# См. https://pre-commit.com для дополнительной информации
# См. https://pre-commit.com/hooks.html для доступных хуков

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-added-large-files
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort (python)
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.10.0
    hooks:
      - id: black
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/python-poetry/poetry
    rev: "2.0.0"
    hooks:
      - id: poetry-check
      - id: poetry-lock
      - id: poetry-install
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        description: Статический анализ кода JavaScript при помощи ESLint
        entry: npm run eslint
        language: system
        types: [file]
        files: \.[jt]sx?$  # *.js, *.jsx, *.ts, *.tsx
      - id: markdownlint
        name: markdownlint
        description: Проверка Markdown файлов при помощи markdownlint
        entry: npm run markdownlint
        language: system
        types: [file]
        files: \.(md|markdown)$
      - id: mypy
        name: mypy
        description: Выполнить проверки типов при помощи Mypy
        entry: poetry run mypy .
        language: system
        types: [python]
        pass_filenames: false
      - id: poetry-export
        name: poetry-export
        description: Экспорт зависимостей в requirements.txt
        entry: bash -c 'poetry run pip freeze > requirements.txt'
        language: system
        pass_filenames: false
        files: ^(.*/)?poetry\.lock$

docs: update container diagram image format to PNG
  README.md
  docs/diagrams/out/container/container.svg
Due: markdownlint

feat: add frontend build and dependency management to deploy scripts
  scripts/server/deploy.sh
  scripts/server/update.sh
Due: none

fix: update file paths and configure pytest integration tests
  .gitignore
  .sourcecraft/ci.yaml
  Dockerfile
  backend/personal_website/settings.py
  pyproject.toml
Due: mypy

fix: correct WSGI path and debug CI frontend build
  .sourcecraft/ci.yaml
  backend/entrypoint.sh
Due: none

ci: remove frontend build debug steps from CI pipeline
  .sourcecraft/ci.yaml
Due: none

ci: update CI configuration for new project structure
  .sourcecraft/ci.yaml
Due: none

docs: add comment about monorepo structure support in CI
  .sourcecraft/ci.yaml
Due: none

refactor: Add explicit type hint for UserViewSet permissions
  backend/accounts/viewsets.py
Due: mypy

refactor(api): use AnonymousUser instead of None for unauthenticated users
  backend/api/permissions.py
  backend/api/tests/test_permissions.py
Due: mypy

fix(permissions): handle None user in permission checks
  backend/api/permissions.py
  backend/api/tests/test_permissions.py
Due: mypy

refactor: rename react.py to react_tags.py
  backend/personal_website/templatetags/react_tags.py
Due: mypy

refactor: rename react template tag library to react_tags
  backend/personal_website/settings.py
  backend/templates/blog/article_detail.html
  backend/templates/blog/article_list.html
  backend/templates/blog/category_detail.html
  backend/templates/blog/series_detail.html
  backend/templates/blog/topic_detail.html
  backend/templates/gallery/album_detail.html
  backend/templates/gallery/album_list.html
  backend/templates/gallery/albums.html
  backend/templates/gallery/photo_detail.html
  backend/templates/gallery/photo_list.html
  backend/templates/gallery/tag_detail.html
  backend/templates/main/main.html
Due: mypy

refactor: simplify PhotoDetail component directory structure
  eslint.config.mjs
  frontend/src/components/Gallery/Photo/PhotoDetail.jsx
  frontend/src/components/Gallery/Photo/PhotoDetail.test.js
  frontend/src/components/Gallery/Photo/PhotoDetail/hooks/useAlbumPhotos.js
  frontend/src/components/Gallery/Photo/PhotoDetail/hooks/usePhotoData.js
  frontend/src/components/Gallery/Photo/PhotoDetail/hooks/usePhotoNavigation.js
  frontend/src/hooks/usePhotoData.js
  frontend/src/index.js
Due: eslint

fix(frontend): use stable React keys and refactor data fetching
  eslint.config.mjs
  frontend/src/components/Alert/AlertList.jsx
  frontend/src/components/Blog/Article/ArticleDetail.test.js
  frontend/src/components/Blog/Article/ArticleList.test.js
  frontend/src/components/Blog/Comment/CommentForm.test.js
  frontend/src/components/Gallery/Album/AlbumList.jsx
  frontend/src/components/Gallery/Album/AlbumList.test.js
  frontend/src/components/Gallery/Photo/ExifData.jsx
  frontend/src/components/Gallery/Photo/PhotoDetail.test.js
  frontend/src/components/Gallery/Upload/FileDropzone.jsx
  frontend/src/components/Gallery/Upload/PhotoUploadForm.jsx
  frontend/src/components/Main/CategoryGrid.jsx
  frontend/src/components/Main/CategoryGrid.test.js
  frontend/src/components/Main/SeriesGrid.jsx
  frontend/src/components/Main/SeriesGrid.test.js
  frontend/src/hooks/index.js
  frontend/src/hooks/useAlbumPhotos.js
  frontend/src/hooks/useApiData.js
  frontend/src/hooks/useLocalStorage.js
  frontend/src/hooks/usePhotoData.js
  frontend/src/utils/photoNavigation.js
  package.json
Due: eslint

test(accounts): add navbar_data context assertions in permission tests
  backend/accounts/tests/test_views.py
Due: mypy

fix(gallery): handle timezone-aware modified time
  backend/gallery/models.py
Due: mypy

refactor(frontend): remove deps array from useApiData hook
  frontend/jest.config.js
  frontend/src/hooks/useApiData.js
  frontend/src/hooks/useApiData.test.js
Due: eslint

refactor(gallery): replace datetime_taken property with taken_at field
  backend/gallery/admin.py
  backend/gallery/migrations/0009_photo_taken_at.py
  backend/gallery/models.py
  backend/gallery/serializers.py
  backend/gallery/tests/test_models.py
  backend/gallery/tests/test_utils.py
  backend/gallery/tests/test_views.py
  backend/gallery/tests/test_viewsets.py
  backend/gallery/utils.py
  backend/gallery/views.py
  backend/gallery/viewsets.py
Due: mypy

fix(config): correct gunicorn service working directory path
  backend/config/gunicorn/gunicorn.service
Due: none

исправление(gallery): переписать миграцию 0009 для чтения EXIF напрямую из файла
  backend/gallery/migrations/0009_photo_taken_at.py
Due: mypy

refactor(gallery): extract fallback datetime logic in migration
  backend/gallery/migrations/0009_photo_taken_at.py
Due: mypy

docs: update CHANGELOG.md
  docs/CHANGELOG.md
Due: markdownlint

fix(deploy): use sourcecraft remote instead of origin
  scripts/server/update.sh
Due: none

perf(gallery): оптимизация загрузки списка альбомов и качества миниатюр
  backend/gallery/serializers.py
  backend/gallery/viewsets.py
  backend/personal_website/settings.py
Due: mypy

update AGENTS.md
  AGENTS.md
Due: markdownlint

update settings.py
  backend/personal_website/settings.py
Due: mypy

refactor(gallery): вынести общие поля в базовый класс сериализатора
  backend/gallery/serializers.py
Due: mypy

fix(tests): обновить импорт AlbumSerializer на AlbumDetailSerializer
  backend/gallery/tests/test_serializers.py
Due: mypy

update update.sh
  scripts/server/update.sh
Due: none

fix(photo): исправить aspect ratio и увеличить thumbnail размер
  backend/personal_website/settings.py
  frontend/src/components/Gallery/Photo/PhotoDetail.jsx
Due: eslint, mypy

fix(gallery): исправить фильтрацию по тэгу, порядок фотографий и пагинацию альбомов
  backend/gallery/managers.py
  backend/gallery/models.py
  backend/gallery/viewsets.py
  backend/templates/gallery/tag_detail.html
  frontend/src/components/Gallery/Album/AlbumList.jsx
  frontend/src/components/Gallery/Album/AlbumList.test.js
Due: eslint, mypy

fix(gallery): исправить порядок фотографий и альбомов
  backend/gallery/managers.py
  backend/gallery/models.py
  backend/gallery/viewsets.py
Due: mypy

fix(gallery): add manual ordering for albums
  backend/gallery/managers.py
  backend/gallery/migrations/0010_alter_album_options_alter_photo_options.py
  backend/gallery/models.py
Due: mypy

refactor(frontend): extract reusable LoadingError component
  backend/gallery/viewsets.py
  frontend/src/components/Alert/LoadingError.jsx
  frontend/src/components/Alert/LoadingError.test.jsx
  frontend/src/components/Gallery/Album/AlbumList.jsx
  frontend/src/components/Main/CategoryGrid.jsx
  frontend/src/components/Main/SeriesGrid.jsx
  frontend/src/hooks/usePhotoData.js
  frontend/src/index.js
Due: eslint, mypy

feat(api): add total_pages to pagination responses
  backend/api/pagination.py
  backend/api/tests/test_pagination.py
  backend/personal_website/settings.py
  frontend/src/components/Gallery/Album/AlbumList.jsx
  frontend/src/components/Gallery/Album/AlbumList.test.js
Due: eslint, mypy

refactor: deduplicate pagination and data fetching logic
  backend/api/pagination.py
  frontend/src/components/Gallery/Album/AlbumList.jsx
  frontend/src/hooks/usePhotoData.js
Due: eslint, mypy

feat: use slug for tag URLs and fix album ordering
  .vscode/settings.json
  backend/gallery/migrations/0011_alter_album_options.py
  backend/gallery/models.py
  backend/gallery/tests/test_views.py
  backend/gallery/tests/test_viewsets.py
  backend/gallery/urls.py
  backend/gallery/views.py
  backend/gallery/viewsets.py
Due: mypy
