Repository mikhpo/personal-website: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, markdownlint, mypy, poetry-export

eslint:
  name: eslint
  description: Статический анализ кода JavaScript при помощи ESLint
  entry: npm run eslint
  language: system

markdownlint:
  name: markdownlint
  description: Проверка Markdown файлов при помощи markdownlint
  entry: npm run markdownlint
  language: system

mypy:
  name: mypy
  description: Выполнить проверки типов при помощи Mypy
  entry: poetry run mypy .
  language: system
  pass_filenames: false

poetry-export:
  name: poetry-export
  description: Экспорт зависимостей в requirements.txt
  entry: bash -c 'poetry run pip freeze > requirements.txt'
  language: system
  pass_filenames: false

feat: замена Traefik на nginx + certbot в Docker Compose
  .agents/skills/production-diagnostics/SKILL.md
  .agents/skills/server-setup/SKILL.md
  .env.example
  .gitignore
  README.md
  Taskfile.yml
  compose.yaml
  docs/CHANGELOG.md
  docs/deployment/application.md
  docs/deployment/matrix.md
  docs/deployment/proxy.md
  docs/deployment/storage.md
  docs/diagrams/out/container/container.svg
  docs/diagrams/src/container.puml
  nginx/personal-website.conf.template
  scripts/cronjobs.sh
  scripts/docker/deploy.sh
  scripts/docker/renew-cert.sh
  scripts/docker/setup.sh
  tests/test_proxy.py
Due: markdownlint, mypy

refactor(docker): удаление избыточных комментариев о сертификатах
  compose.yaml
Due: none

docs: сценарии развертывания только для продакшена, переименование сценариев
  .agents/skills/server-setup/SKILL.md
  README.md
  docs/CHANGELOG.md
  docs/deployment/application.md
  docs/deployment/matrix.md
Due: markdownlint

docs: кликабельные ссылки на документы репозитория в скиллах
  .agents/skills/postgresql-dump/SKILL.md
  .agents/skills/postgresql-restore/SKILL.md
  .agents/skills/server-setup/SKILL.md
Due: markdownlint

docs: правила значений списков целей бэкапов
  .env.example
  docs/deployment/application.md
  docs/deployment/backups.md
Due: markdownlint

docs: ревью раунда 7 - сценарии сервера, актуальное состояние, стиль
  .agents/skills/backup-audit/SKILL.md
  .agents/skills/server-setup/SKILL.md
  .env.example
  AGENTS.md
  README.md
  compose.yaml
  docs/CHANGELOG.md
  docs/CONTRIBUTING.md
  docs/deployment/application.md
  docs/deployment/backups.md
  docs/deployment/database.md
  docs/deployment/matrix.md
  docs/deployment/proxy.md
  docs/deployment/storage.md
  docs/diagrams/out/container/container.svg
  docs/diagrams/src/container.puml
  scripts/server/setup.sh
Due: markdownlint

docs: скилл fix-documentation
  .agents/skills/fix-documentation/SKILL.md
  docs/CHANGELOG.md
Due: markdownlint

docs: скилл fix-documentation охватывает комментарии и докстринги
  .agents/skills/fix-documentation/SKILL.md
  docs/CHANGELOG.md
  docs/diagrams/out/container/container.svg
  docs/diagrams/src/container.puml
Due: markdownlint

style: упрощение правил проверки документации
  docs/CHANGELOG.md
Due: markdownlint

docs(skills): корректировка правил проверки документации
  .agents/skills/fix-documentation/SKILL.md
Due: markdownlint

fix: копирование vendor-статики из node-builder в образ (#102)
  Dockerfile
  docs/CHANGELOG.md
Due: markdownlint

fix: vendor-статика копируется сборкой в frontend/dist и попадает в образ
  .gitignore
  Dockerfile
  backend/personal_website/settings.py
  docs/CHANGELOG.md
  frontend/webpack.config.js
Due: eslint, markdownlint, mypy

docs: правка комментария сборки и записи CHANGELOG
  docs/CHANGELOG.md
  frontend/webpack.config.js
Due: eslint, markdownlint

fix: настройка mc-алиаса в entrypoint и шаг очистки статики при смене хранилища (#103, #104)
  backend/entrypoint.sh
  docs/CHANGELOG.md
  docs/deployment/backups.md
Due: markdownlint

feat: префиксы media и static в S3-бакете, перенос хранилища через постоянные цели (#103, #104)
  .env.example
  backend/backup/tests/test_utils.py
  backend/backup/utils.py
  backend/personal_website/settings.py
  docs/CHANGELOG.md
  docs/deployment/backups.md
  docs/deployment/storage.md
Due: markdownlint, mypy

fix: рекурсивная передача каталогов данных сервис-пользователю в setup.sh (#105)
  docs/CHANGELOG.md
  docs/deployment/application.md
  scripts/server/setup.sh
Due: markdownlint

feat: путь деплоя в CI вынесен в переменную PROJECT_DIR (#106)
  .github/workflows/deploy.yml
  .sourcecraft/ci.yaml
  docs/CHANGELOG.md
  docs/CONTRIBUTING.md
Due: markdownlint

feat: оповещения о результатах резервного копирования (#107)
  .env.example
  backend/backup/management/commands/backup.py
  backend/backup/management/commands/backup_db.py
  backend/backup/management/commands/backup_media.py
  backend/backup/reports.py
  backend/backup/services.py
  backend/backup/targets.py
  backend/backup/tests/test_reports.py
  backend/personal_website/settings.py
  backend/templates/backup/email_report.html
  docs/CHANGELOG.md
  docs/deployment/backups.md
  pyproject.toml
Due: markdownlint, mypy

fix: замечания ревью по отчетам о бэкапировании (#107)
  backend/templates/backup/email_report.html
  docs/CHANGELOG.md
  pyproject.toml
Due: markdownlint

chore: pre-commit хук djlint для проверки HTML-шаблонов
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fix: завершение источника конвейера по SIGPIPE не считается ошибкой проверки дампов (#109)
  backend/backup/process.py
  backend/backup/tests/test_process.py
  docs/CHANGELOG.md
Due: markdownlint, mypy

docs: правило CHANGELOG - без ссылок на задачи, емкие формулировки
  AGENTS.md
  docs/CHANGELOG.md
Due: markdownlint

fix: ключи S3-хранилища адресуются с учетом префикса location (#110)
  backend/personal_website/storages.py
  backend/personal_website/tests/test_storages.py
  docs/CHANGELOG.md
Due: markdownlint, mypy

fix: диспетчер systemd-деплоя включает юнит personal-website в автозапуск
  .agents/skills/production-diagnostics/SKILL.md
  docs/CHANGELOG.md
  scripts/server/deploy.sh
Due: markdownlint

fix: установщики развертывания фиксируют системную таймзону Europe/Moscow (!58)
  .agents/skills/backup-audit/SKILL.md
  docs/CHANGELOG.md
  docs/deployment/backups.md
  docs/deployment/proxy.md
  scripts/cronjobs.sh
  scripts/docker/setup.sh
  scripts/server/setup.sh
Due: markdownlint

fix: отчеты о бэкапах и имена дампов переведены с UTC на МСК (!59)
  .agents/skills/postgresql-dump/SKILL.md
  backend/backup/reports.py
  backend/backup/utils.py
  docs/CHANGELOG.md
  docs/deployment/backups.md
Due: markdownlint, mypy

docs: сжать формулировки AGENTS.md без изменения смысла (!60)
  AGENTS.md
  docs/CHANGELOG.md
Due: markdownlint

feat: скрипт синхронизации main и тегов между зеркалами репозитория
  docs/CHANGELOG.md
  docs/tools.md
  tools/sync-mirrors.sh
  tools/sync_mirrors.py
Due: markdownlint, mypy

fix: синхронизация зеркал выполняется без временных файлов и каталогов
  docs/CHANGELOG.md
  docs/tools.md
  tools/sync-mirrors.sh
  tools/sync_mirrors.py
Due: markdownlint, mypy

feat: опциональный аргумент имени ветки для синхронизации зеркал
  tools/sync_mirrors.py
Due: mypy

refactor: удалены bash-версии скриптов синхронизации, докстринги Python-версии переписаны понятнее
  Taskfile.yml
  docs/CHANGELOG.md
  tools/sync-branch.sh
  tools/sync-mirrors.sh
  tools/sync_mirrors.py
Due: markdownlint, mypy

docs: докстринг is_ancestor переписан по-русски без английских вставок
  tools/sync_mirrors.py
Due: mypy

fix: защита разбора служебных рефов и дедупликация вызовов git
  tools/sync_mirrors.py
Due: mypy

docs: строка о зеркалах и синхронизации репозитория
  README.md
Due: markdownlint

fix: путь до manage.py в тестовом workflow GitHub исправлен на backend/manage.py
  .github/workflows/test.yml
Due: none

docs: строка о зеркалах и синхронизации репозитория (#207)
  .github/workflows/test.yml
  README.md
Due: markdownlint

feat: CI-обертки синхронизации зеркал - trunk-workflow SourceCraft и trunk.yml GitHub Actions
  .github/workflows/trunk.yml
  .sourcecraft/ci.yaml
  docs/CHANGELOG.md
  docs/CONTRIBUTING.md
Due: markdownlint

Path conditions:
  eslint: any of: \.[jt]sx?$
  markdownlint: any of: \.(md|markdown)$
  mypy: any of: \.py$
  poetry-export: any of: ^(.*/)?poetry\.lock$
