Repository mikhpo/personal-website: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, poetry-export

mypy:
  name: mypy
  description: Выполнить проверки типов при помощи Mypy
  entry: poetry run mypy .
  language: system
  pass_filenames: false

poetry-export:
  name: poetry-export
  description: Выполнить команду poetry export для фиксации зависимостей в requirements.txt
  entry: poetry export
  language: python
  pass_filenames: false
  args:
  - --format
  - requirements.txt
  - --output
  - requirements.txt
  - --without-hashes

build: rename build-docker task to build-test-docker and remove separate test-docker task
  .sourcecraft/ci.yaml
Due: none

Исправлена синтаксическая ошибка в build-workflow
  .sourcecraft/ci.yaml
Due: none

chore: remove collectstatic from CI test workflow
  .sourcecraft/ci.yaml
Due: none

Дополнительное исправление build-workflow
  .sourcecraft/ci.yaml
Due: none

chore(ci): remove unnecessary collectstatic step from test workflow
  .sourcecraft/ci.yaml
Due: none

chore: remove unnecessary quotes from CI workflow scripts
  .sourcecraft/ci.yaml
Due: none

refactor: Improve CI workflow security and variable usage
  .sourcecraft/ci.yaml
Due: none

feat(ci): add SOURCECRAFT_CI environment variable to docker container
  .sourcecraft/ci.yaml
Due: none

ci: Add line continuation for SOURCECRAFT_CI env var in docker run command
  .sourcecraft/ci.yaml
Due: none

fix: correct variable interpolation syntax in CI workflow
  .sourcecraft/ci.yaml
Due: none

ci: inline docker image names and improve secret key documentation
  .sourcecraft/ci.yaml
Due: none

ADD SourceCraft Registry support and update CI workflow
  .sourcecraft/ci.yaml
Due: none

MIGRATE CI TO YANDEX CLOUD CONTAINER REGISTRY
  .sourcecraft/ci.yaml
Due: none

ADD release workflow for Docker image with multi-registry support
  .sourcecraft/ci.yaml
Due: none

ADD automated deployment workflow triggered after release
  .sourcecraft/ci.yaml
Due: none

UPDATE README WITH DETAILED SOURCECRAFT CI/CD DESCRIPTION
  README.md
Due: none

chore(readme): adjust table column widths for better readability
  README.md
Due: none

UPDATE CI CONFIG AND CHANGELOG DATE
  .codeassistant/commands/pr-description.md
  .sourcecraft/ci.yaml
  docs/CHANGELOG.md
Due: none

ci(sourcecraft): update ci triggers and workflow descriptions
  .sourcecraft/ci.yaml
  README.md
Due: none

ci(sourcecraft): add workflow triggers for non-main branches
  .sourcecraft/ci.yaml
Due: none

ci: add echo statements to improve CI workflow logging and clarity
  .sourcecraft/ci.yaml
Due: none

chore: update pre-commit config and fix minor formatting issues
  .gitignore
  .pre-commit-config.yaml
  .zed/settings.json
  docs/diagrams/out/container/container.svg
  docs/diagrams/out/context/context.svg
  docs/diagrams/src/container.puml
  docs/diagrams/src/context.puml
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-export

feat: add CLAUDE.md symlink pointing to AGENTS.md
  CLAUDE.md
Due: none

chore: add S3 storage dependencies
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-export

feat: add S3 storage configuration to settings
  .env.example
  personal_website/personal_website/settings.py
Due: mypy

feat: implement S3 storage infrastructure
  personal_website/conftest.py
  personal_website/personal_website/runners.py
  personal_website/personal_website/storages.py
  personal_website/personal_website/tests/test_storages.py
  personal_website/personal_website/tests/test_utils/test_path_utils.py
  personal_website/personal_website/utils.py
Due: mypy

feat: update default storage backend to use custom selector
  personal_website/personal_website/settings.py
Due: mypy

feat(storages): refine storage selection logic and update tests
  personal_website/personal_website/storages.py
  personal_website/personal_website/tests/test_storages.py
Due: mypy

refactor(tests): move boto3 imports to module level in test_storages.py
  personal_website/personal_website/tests/test_storages.py
Due: mypy

refactor(tests): remove duplicate S3 bucket setup and improve utility functions
  personal_website/personal_website/tests/test_storages.py
  personal_website/personal_website/utils.py
Due: mypy

test(storages): replace pytest skip marker with unittest equivalent
  personal_website/personal_website/tests/test_storages.py
Due: mypy

docs: add S3 storage configuration documentation
  AGENTS.md
Due: none

refactor: Simplify test image management and storage handling
  personal_website/gallery/conftest.py
  personal_website/gallery/models.py
  personal_website/gallery/tests/test_admin.py
  personal_website/gallery/tests/test_forms.py
  personal_website/gallery/tests/test_models.py
  personal_website/gallery/tests/test_sitemaps.py
  personal_website/gallery/tests/test_utils.py
  personal_website/gallery/tests/test_views.py
  personal_website/gallery/utils.py
  personal_website/personal_website/settings.py
  personal_website/personal_website/storages.py
  personal_website/personal_website/templatetags/file_tags.py
  personal_website/personal_website/tests/test_storages.py
  personal_website/personal_website/tests/test_templatetags.py
  personal_website/personal_website/tests/test_utils/test_path_utils.py
  personal_website/personal_website/utils.py
Due: mypy

test: add test for overwriting existing files in S3 storage
  personal_website/personal_website/tests/test_storages.py
Due: mypy

docs: add MinIO and S3 storage configuration documentation
  README.md
Due: none

feat: add STORAGE_TYPE environment variable for filesystem storage configuration
  .github/workflows/test.yml
  .sourcecraft/ci.yaml
Due: none

feat(storages): improve base_location handling for path normalization
  personal_website/personal_website/storages.py
Due: mypy

feat(s3backup): Add STORAGE_TYPE check to prevent unnecessary backups when using S3 storage
  personal_website/scripts/s3backup.sh
Due: none

docs(changelog): Add entry for STORAGE_TYPE check in S3 backup script
  docs/CHANGELOG.md
Due: none

docs: update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

Path conditions:
  mypy: any of: \.py$
  poetry-export: any of: ^(.*/)?poetry\.lock$
