Repository mikhpo/personal-website: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, markdownlint, mypy, poetry-export

eslint:
  name: eslint
  description: Статический анализ кода JavaScript при помощи ESLint
  entry: npm run eslint
  language: system

markdownlint:
  name: markdownlint
  description: Проверка Markdown файлов при помощи markdownlint
  entry: npm run markdownlint
  language: system

mypy:
  name: mypy
  description: Выполнить проверки типов при помощи Mypy
  entry: poetry run mypy .
  language: system
  pass_filenames: false

poetry-export:
  name: poetry-export
  description: Экспорт зависимостей в requirements.txt
  entry: bash -c 'poetry run pip freeze > requirements.txt'
  language: system
  pass_filenames: false

Fix SourceCraft CI/CD pipeline retag-and-push-image task
  .sourcecraft/ci.yaml
Due: none

chore: update dependencies and add react tooling
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-export

feat: configure Webpack and Babel for React
  .babelrc
  .gitignore
  webpack.config.js
Due: eslint

chore: update .gitignore
  .gitignore
Due: none

feat: configure Webpack and Babel for React
  .babelrc
  webpack.config.js
Due: eslint

feat: integrate React with Django using webpack-loader and add TestComponent
  .eslintrc.json
  personal_website/frontend/src/components/TestComponent.jsx
  personal_website/frontend/src/index.js
  personal_website/personal_website/settings.py
  personal_website/templates/base.html
Due: eslint, mypy

feat: configure eslint and jest for react testing
  .eslintrc.json
  jest.config.js
  package-lock.json
  package.json
  personal_website/frontend/jest.setup.js
  personal_website/frontend/src/components/TestComponent.jsx
  personal_website/frontend/src/components/TestComponent.test.js
Due: eslint

feat: update Dockerfile for React build
  package-lock.json
  package.json
  personal_website/Dockerfile
Due: none

feat: separate frontend and backend tests with updated build process
  .gitignore
  Taskfile.yml
  personal_website/frontend/src/index.js
  personal_website/frontend/src/index.test.js
Due: eslint

feat: improve issue templates and add frontend linting checks
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  Taskfile.yml
  package.json
  personal_website/tests/modules.test.js
Due: eslint, markdownlint

feat: create centralized api app for REST API management
  personal_website/api/__init__.py
  personal_website/api/apps.py
  personal_website/api/migrations/__init__.py
  personal_website/personal_website/settings.py
Due: mypy

feat(api): add custom pagination and permission classes with tests
  personal_website/api/pagination.py
  personal_website/api/permissions.py
  personal_website/api/tests/__init__.py
  personal_website/api/tests/test_pagination.py
  personal_website/api/tests/test_permissions.py
  personal_website/personal_website/settings.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: mypy, poetry-export

feat(accounts): implement user serializer and viewset with tests
  personal_website/accounts/serializers.py
  personal_website/accounts/tests/test_viewsets.py
  personal_website/accounts/urls.py
  personal_website/accounts/viewsets.py
  personal_website/api/tests/test_jwt_auth.py
  personal_website/api/tests/test_permissions.py
  personal_website/api/urls.py
  personal_website/personal_website/settings.py
  personal_website/personal_website/urls.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: mypy, poetry-export

feat: configure CORS for API endpoints
  personal_website/api/tests/test_cors.py
  personal_website/personal_website/settings.py
Due: mypy

test: rename test class to follow naming conventions
  personal_website/api/tests/test_permissions.py
Due: mypy

feat(api): add OpenAPI schema generation and documentation endpoints
  personal_website/api/tests/test_schema.py
  personal_website/api/urls.py
  personal_website/personal_website/settings.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: mypy, poetry-export

feat(docs): enable offline API documentation with drf-spectacular-sidecar
  AGENTS.md
  personal_website/api/tests/test_schema.py
  personal_website/blog/factories.py
  personal_website/blog/tests/test_factories.py
  personal_website/blog/tests/test_sitemaps.py
  personal_website/gallery/conftest.py
  personal_website/gallery/tests/test_utils.py
  personal_website/personal_website/settings.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: markdownlint, mypy, poetry-export

feat: migrate Navbar to React component
  personal_website/frontend/src/components/Navbar/Navbar.jsx
  personal_website/frontend/src/components/Navbar/Navbar.test.js
  personal_website/main/context_processors.py
  personal_website/main/templatetags/__init__.py
  personal_website/main/templatetags/react_props.py
  personal_website/personal_website/settings.py
  personal_website/templates/base.html
Due: eslint, mypy

refactor: rename username to userName in Navbar component and context processor
  personal_website/frontend/src/components/Navbar/Navbar.jsx
  personal_website/frontend/src/components/Navbar/Navbar.test.js
  personal_website/main/context_processors.py
Due: eslint, mypy

docs: improve Navbar component documentation and prop types description
  personal_website/frontend/src/components/Navbar/Navbar.jsx
  personal_website/frontend/src/components/Navbar/Navbar.test.js
Due: eslint

feat(dev): add dev task with auto rebuild and update navbar styles
  AGENTS.md
  Taskfile.yml
  personal_website/frontend/src/components/Navbar/Navbar.jsx
  personal_website/main/context_processors.py
  personal_website/main/templatetags/react_props.py
  personal_website/personal_website/settings.py
  personal_website/templates/base.html
  tools/run-dev.sh
  webpack.config.js
Due: eslint, markdownlint, mypy

feat(navbar): implement offcanvas functionality for tags dropdown item
  personal_website/frontend/src/components/Navbar/Navbar.jsx
  personal_website/frontend/src/components/Navbar/Navbar.test.js
  personal_website/main/context_processors.py
  personal_website/personal_website/settings.py
  personal_website/templates/base.html
  personal_website/templates/gallery/tag_detail.html
Due: eslint, mypy

feat(website): implement navbar components with russian documentation
  personal_website/frontend/src/components/Navbar/BrandSection.jsx
  personal_website/frontend/src/components/Navbar/DropdownMenu.jsx
  personal_website/frontend/src/components/Navbar/NavLink.jsx
  personal_website/frontend/src/components/Navbar/NavLinksMapper.jsx
  personal_website/frontend/src/components/Navbar/Navbar.jsx
  personal_website/frontend/src/components/Navbar/Navbar.test.js
  personal_website/frontend/src/components/Navbar/OffcanvasTrigger.jsx
  personal_website/frontend/src/components/Navbar/UserAuthSection.jsx
  personal_website/frontend/src/components/Navbar/hooks/useOffcanvasHandler.js
  personal_website/frontend/src/components/Navbar/hooks/useOffcanvasHandler.test.js
Due: eslint

feat(pagination): implement react-based pagination components and django integration
  personal_website/blog/management/__init__.py
  personal_website/blog/management/commands/__init__.py
  personal_website/blog/management/commands/generate_blog_objects.py
  personal_website/blog/tests/test_commands.py
  personal_website/blog/views.py
  personal_website/frontend/src/components/Pagination/NavigationControls.jsx
  personal_website/frontend/src/components/Pagination/NavigationControls.test.js
  personal_website/frontend/src/components/Pagination/PageNumbers.jsx
  personal_website/frontend/src/components/Pagination/PageNumbers.test.js
  personal_website/frontend/src/components/Pagination/Pagination.jsx
  personal_website/frontend/src/components/Pagination/Pagination.test.js
  personal_website/frontend/src/components/Pagination/paginationUtils.js
  personal_website/frontend/src/components/Pagination/paginationUtils.test.js
  personal_website/gallery/management/__init__.py
  personal_website/gallery/management/commands/__init__.py
  personal_website/gallery/management/commands/generate_gallery_objects.py
  personal_website/gallery/tests/test_commands.py
  personal_website/gallery/views.py
  personal_website/main/utils.py
  personal_website/templates/blog/article_list.html
  personal_website/templates/gallery/album_list.html
  personal_website/templates/pagination.html
Due: eslint, mypy

feat(pagination): implement navigation and numbers pagination components
  personal_website/frontend/src/components/Pagination/NavigationControls.jsx
  personal_website/frontend/src/components/Pagination/NavigationControls.test.js
  personal_website/frontend/src/components/Pagination/NavigationPagination.jsx
  personal_website/frontend/src/components/Pagination/NavigationPagination.test.js
  personal_website/frontend/src/components/Pagination/NextButtons.jsx
  personal_website/frontend/src/components/Pagination/NextButtons.test.js
  personal_website/frontend/src/components/Pagination/NumbersPagination.jsx
  personal_website/frontend/src/components/Pagination/NumbersPagination.test.js
  personal_website/frontend/src/components/Pagination/PageInfo.jsx
  personal_website/frontend/src/components/Pagination/PageInfo.test.js
  personal_website/frontend/src/components/Pagination/PageNumbers.jsx
  personal_website/frontend/src/components/Pagination/PageNumbers.test.js
  personal_website/frontend/src/components/Pagination/Pagination.jsx
  personal_website/frontend/src/components/Pagination/Pagination.test.js
  personal_website/frontend/src/components/Pagination/PreviousButtons.jsx
  personal_website/frontend/src/components/Pagination/PreviousButtons.test.js
  personal_website/frontend/src/components/Pagination/utils/buttonStates.js
  personal_website/frontend/src/components/Pagination/utils/buttonStates.test.js
  personal_website/frontend/src/components/Pagination/utils/pageItemsGenerator.js
  personal_website/frontend/src/components/Pagination/utils/pageItemsGenerator.test.js
  personal_website/frontend/src/components/Pagination/utils/paginationHelpers.js
  personal_website/frontend/src/components/Pagination/utils/paginationHelpers.test.js
  personal_website/frontend/src/components/Pagination/utils/paginationRenderers.js
  personal_website/frontend/src/components/Pagination/utils/paginationRenderers.test.js
Due: eslint

feat(dev): improve docker cleanup tasks with error handling and volume pruning
  Taskfile.yml
Due: none

test(pagination): update tests to match disabled button implementation
  personal_website/frontend/src/components/Pagination/NavigationControls.test.js
  personal_website/frontend/src/components/Pagination/utils/paginationRenderers.js
  personal_website/frontend/src/components/Pagination/utils/paginationRenderers.test.js
Due: eslint

fix: update tests for React components integration
  personal_website/accounts/tests/test_views.py
  personal_website/blog/tests/test_views.py
  personal_website/gallery/tests/test_views.py
Due: mypy

feat(react): implement alert components and integrate with django messages
  personal_website/frontend/src/components/Alert/Alert.jsx
  personal_website/frontend/src/components/Alert/Alert.test.js
  personal_website/frontend/src/components/Alert/AlertContainer.jsx
  personal_website/main/context_processors.py
  personal_website/personal_website/settings.py
  personal_website/templates/base.html
Due: eslint, mypy

feat(templates): remove legacy django templates for react migration
  personal_website/templates/messages/alerts.html
  personal_website/templates/messages/dismiss.html
  personal_website/templates/messages/icons.html
  personal_website/templates/navbar.html
Due: none

test(alert): add tests for AlertContainer component functionality
  personal_website/frontend/src/components/Alert/AlertContainer.test.js
Due: eslint

fix(alerts): исправить отображение alerts в интерфейсе
  personal_website/frontend/src/components/Alert/Alert.jsx
  personal_website/frontend/src/components/Alert/Alert.test.js
  personal_website/gallery/tests/test_views.py
  personal_website/main/context_processors.py
  personal_website/templates/base.html
Due: eslint, mypy

refactor(types): add typeddict definitions for context processors and update type hints
  personal_website/accounts/tests/test_views.py
  personal_website/gallery/tests/test_views.py
  personal_website/main/context_processors.py
Due: mypy

test: rename test classes to follow TestClassName convention
  AGENTS.md
  personal_website/accounts/tests/test_forms.py
  personal_website/accounts/tests/test_views.py
  personal_website/api/tests/test_permissions.py
  personal_website/blog/tests/test_admin.py
  personal_website/blog/tests/test_forms.py
  personal_website/blog/tests/test_models.py
  personal_website/blog/tests/test_sitemaps.py
  personal_website/gallery/tests/test_forms.py
  personal_website/gallery/tests/test_sitemaps.py
  personal_website/gallery/tests/test_views.py
  personal_website/main/tests.py
Due: markdownlint, mypy

refactor(templates): improve react component mounting logic
  personal_website/templates/base.html
Due: none

feat(gallery): implement api viewsets and serializers with full crud functionality
  .pre-commit-config.yaml
  AGENTS.md
  personal_website/accounts/apps.py
  personal_website/api/permissions.py
  personal_website/api/tests/test_cors.py
  personal_website/api/tests/test_pagination.py
  personal_website/api/tests/test_permissions.py
  personal_website/api/tests/test_schema.py
  personal_website/api/urls.py
  personal_website/gallery/admin.py
  personal_website/gallery/conftest.py
  personal_website/gallery/schemas.py
  personal_website/gallery/serializers.py
  personal_website/gallery/tests/test_models.py
  personal_website/gallery/tests/test_utils.py
  personal_website/gallery/tests/test_views.py
  personal_website/gallery/tests/test_viewsets.py
  personal_website/gallery/urls.py
  personal_website/gallery/viewsets.py
  personal_website/main/utils.py
  personal_website/manage.py
  personal_website/personal_website/storages.py
  personal_website/personal_website/tests/test_templatetags.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/test_minio.py
  tests/test_postgres.py
Due: markdownlint, mypy, poetry-export

feat(agents): add static analysis and changelog update skills
  .agents/skills/pr-description/SKILL.md
  .agents/skills/static-analysis/SKILL.md
  .agents/skills/update-changelog/SKILL.md
  .claude/skills
Due: markdownlint

docs(agents): add static analysis and changelog update guidelines
  AGENTS.md
Due: markdownlint

feat(components): add actions support to Alert component and create Spinner component
  jest.config.js
  personal_website/frontend/src/components/Alert/Alert.jsx
  personal_website/frontend/src/components/Alert/Alert.test.js
  personal_website/frontend/src/components/Alert/AlertList.jsx
  personal_website/frontend/src/components/Alert/AlertList.test.js
  personal_website/frontend/src/components/Navbar/DropdownMenu.jsx
  personal_website/frontend/src/components/Navbar/NavLinksMapper.jsx
  personal_website/frontend/src/components/Navbar/Navbar.jsx
  personal_website/frontend/src/components/Navbar/Navbar.test.js
  personal_website/frontend/src/components/Navbar/OffcanvasTrigger.jsx
  personal_website/frontend/src/components/Navbar/hooks/useOffcanvasHandler.js
  personal_website/frontend/src/components/Navbar/hooks/useOffcanvasHandler.test.js
  personal_website/frontend/src/components/Pagination/NavigationControls.jsx
  personal_website/frontend/src/components/Pagination/NavigationPagination.jsx
  personal_website/frontend/src/components/Pagination/NextButtons.jsx
  personal_website/frontend/src/components/Pagination/NumbersPagination.jsx
  personal_website/frontend/src/components/Pagination/PageNumbers.jsx
  personal_website/frontend/src/components/Pagination/Pagination.jsx
  personal_website/frontend/src/components/Pagination/PreviousButtons.jsx
  personal_website/frontend/src/components/Pagination/utils/paginationRenderers.js
  personal_website/frontend/src/components/Spinner/Spinner.jsx
  personal_website/frontend/src/components/Spinner/Spinner.test.js
  webpack.config.js
Due: eslint

Path conditions:
  eslint: any of: \.[jt]sx?$
  markdownlint: any of: \.(md|markdown)$
  mypy: any of: \.py$
  poetry-export: any of: ^(.*/)?poetry\.lock$
