Repository mikhpo/personal-website: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, markdownlint, mypy, poetry-export

.pre-commit-config.yaml:

# См. https://pre-commit.com для дополнительной информации
# См. https://pre-commit.com/hooks.html для доступных хуков

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-added-large-files
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort (python)
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.10.0
    hooks:
      - id: black
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/python-poetry/poetry
    rev: "2.0.0"
    hooks:
      - id: poetry-check
      - id: poetry-lock
      - id: poetry-install
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        description: Статический анализ кода JavaScript при помощи ESLint
        entry: npm run eslint
        language: system
        types: [file]
        files: \.[jt]sx?$  # *.js, *.jsx, *.ts, *.tsx
      - id: markdownlint
        name: markdownlint
        description: Проверка Markdown файлов при помощи markdownlint
        entry: npm run markdownlint
        language: system
        types: [file]
        files: \.(md|markdown)$
      - id: mypy
        name: mypy
        description: Выполнить проверки типов при помощи Mypy
        entry: poetry run mypy .
        language: system
        types: [python]
        pass_filenames: false
      - id: poetry-export
        name: poetry-export
        description: Экспорт зависимостей в requirements.txt
        entry: bash -c 'poetry run pip freeze > requirements.txt'
        language: system
        pass_filenames: false
        files: ^(.*/)?poetry\.lock$

feat(gallery): плавное проявление карточек и превью на странице фотографии
  backend/staticfiles/css/cards.css
  docs/CHANGELOG.md
  frontend/src/components/Card/BaseCard.jsx
  frontend/src/components/Card/BaseCard.test.js
  frontend/src/components/Gallery/Photo/PhotoCard.jsx
  frontend/src/components/Gallery/Photo/PhotoCard.test.js
  frontend/src/components/Gallery/Photo/PhotoDetail.jsx
  frontend/src/components/Gallery/Photo/PhotoDetail.test.js
Due: eslint, markdownlint

fix(gallery): всегда использовать превью на странице фотографии
  frontend/src/components/Gallery/Photo/PhotoDetail.jsx
  frontend/src/components/Gallery/Photo/PhotoDetail.test.js
Due: eslint

fix(gallery): проявление карточек masonry после пересчета раскладки
  backend/staticfiles/css/cards.css
  frontend/src/components/Card/BaseCard.jsx
  frontend/src/components/Card/BaseCard.test.js
  frontend/src/components/Gallery/Album/AlbumCard.jsx
  frontend/src/components/Gallery/Album/AlbumCard.test.js
  frontend/src/components/Gallery/Album/AlbumList.jsx
  frontend/src/components/Gallery/Photo/PhotoCard.jsx
  frontend/src/components/Gallery/Photo/PhotoCard.test.js
  frontend/src/components/Gallery/Photo/PhotoList.jsx
  frontend/src/hooks/useMasonry.js
  frontend/src/hooks/useMasonry.test.js
Due: eslint

feat: страница Обо мне с содержимым, редактируемым в админке
  backend/api/urls.py
  backend/main/admin.py
  backend/main/context_processors.py
  backend/main/migrations/0001_initial.py
  backend/main/migrations/0002_aboutpage_initial.py
  backend/main/migrations/__init__.py
  backend/main/models.py
  backend/main/serializers.py
  backend/main/sitemaps.py
  backend/main/tests.py
  backend/main/urls.py
  backend/main/views.py
  backend/main/viewsets.py
  backend/personal_website/urls.py
  backend/templates/main/about.html
  docs/CHANGELOG.md
Due: markdownlint, mypy

refactor: страница Обо мне выделена в отдельное приложение about
  backend/about/__init__.py
  backend/about/admin.py
  backend/about/apps.py
  backend/about/migrations/0001_initial.py
  backend/about/migrations/0002_aboutpage_initial.py
  backend/about/migrations/__init__.py
  backend/about/models.py
  backend/about/serializers.py
  backend/about/sitemaps.py
  backend/about/tests.py
  backend/about/urls.py
  backend/about/viewsets.py
  backend/api/urls.py
  backend/main/tests.py
  backend/main/urls.py
  backend/main/views.py
  backend/personal_website/settings.py
  backend/personal_website/urls.py
  backend/templates/about/about.html
Due: mypy

docs: переписан комментарий о префиксе роутера приложения about
  backend/about/urls.py
Due: mypy

docs: убран HTML комментарий с деталями реализации из шаблона страницы Обо мне
  backend/templates/about/about.html
Due: none

docs: описание шаблона Обо мне перенесено в серверный комментарий
  backend/templates/about/about.html
Due: none

docs: сокращен комментарий о префиксе роутера приложения about
  backend/about/urls.py
Due: mypy

docs: комментарий у роутера about заменен на адрес эндпоинта
  backend/about/urls.py
Due: mypy

refactor: создание стартовой записи страницы Обо мне объединено с миграцией схемы
  backend/about/migrations/0001_initial.py
  backend/about/migrations/0002_aboutpage_initial.py
Due: mypy

docs: правило согласования названий моделей в AGENTS.md
  AGENTS.md
Due: markdownlint

refactor: модель AboutPage переименована в About по согласованию
  backend/about/admin.py
  backend/about/migrations/0001_initial.py
  backend/about/models.py
  backend/about/serializers.py
  backend/about/sitemaps.py
  backend/about/tests.py
  backend/about/urls.py
  backend/about/viewsets.py
  backend/templates/about/about.html
Due: mypy

test: проверка заголовка страницы Обо мне отвязана от классов оформления
  backend/about/tests.py
Due: mypy

test: пункт навбара страницы Обо мне проверяется по разобранным data-props
  backend/about/tests.py
Due: mypy

docs: правила представлений и именования тестов в AGENTS.md
  AGENTS.md
Due: markdownlint

refactor: представление страницы Обо мне вынесено в views.py
  backend/about/tests.py
  backend/about/urls.py
  backend/about/views.py
Due: mypy

chore(dev): перезапуск task dev завершает сервер, занимающий порт
  Taskfile.yml
Due: none

chore: настройка автодополнения в JS через @types/jest и jsconfig
  frontend/jsconfig.json
  package-lock.json
  package.json
Due: none

feat(ui): добавление страницы Обо мне на фронтенде
  frontend/src/components/About/AboutPage.jsx
  frontend/src/components/About/AboutPage.test.js
  frontend/src/index.js
Due: eslint

test: устранение console-ошибок в выводе фронтенд-тестов
  frontend/src/components/Blog/Article/ArticleForm.test.js
  frontend/src/components/Gallery/Album/AlbumList.test.js
  frontend/src/components/Gallery/Upload/PhotoUploadForm.test.js
  frontend/src/components/Navbar/NavItems.test.js
  frontend/src/components/Navbar/ThemeToggle.test.js
  frontend/src/components/Navbar/UserAuthSection.jsx
  frontend/src/hooks/useApiData.test.js
  frontend/src/index.js
  frontend/src/index.test.js
Due: eslint

fix: сборка образа после удаления клиентом MinIO образов с Quay
  Dockerfile
  docs/CHANGELOG.md
  docs/deployment/storage.md
Due: markdownlint
