Repository mikhpo/personal-website: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, markdownlint, mypy, poetry-export

eslint:
  name: eslint
  description: Статический анализ кода JavaScript при помощи ESLint
  entry: npm run eslint
  language: system

markdownlint:
  name: markdownlint
  description: Проверка Markdown файлов при помощи markdownlint
  entry: npm run markdownlint
  language: system

mypy:
  name: mypy
  description: Выполнить проверки типов при помощи Mypy
  entry: poetry run mypy .
  language: system
  pass_filenames: false

poetry-export:
  name: poetry-export
  description: Экспорт зависимостей в requirements.txt
  entry: bash -c 'poetry run pip freeze > requirements.txt'
  language: system
  pass_filenames: false

refactor(gallery): simplify photo detail component and remove tags
  personal_website/frontend/src/components/Gallery/Photo/PhotoDetail.test.js
  personal_website/frontend/src/components/Gallery/Photo/PhotoDetail/PhotoDetail.jsx
  personal_website/frontend/src/components/Gallery/Photo/PhotoDetail/hooks/useAlbumPhotos.test.js
  personal_website/frontend/src/components/Gallery/Photo/PhotoDetail/hooks/usePhotoData.test.js
  personal_website/frontend/src/components/Gallery/Photo/PhotoDetail/hooks/usePhotoNavigation.test.js
  personal_website/frontend/src/components/Gallery/Photo/PhotoTags.jsx
  personal_website/frontend/src/components/Gallery/Photo/PhotoTags.test.js
  personal_website/frontend/src/index.js
  personal_website/gallery/factories.py
  personal_website/gallery/models.py
  personal_website/gallery/serializers.py
  personal_website/gallery/tests/test_factories.py
  personal_website/templates/gallery/photo_detail.html
Due: eslint, mypy

feat(gallery): change photo sorting to chronological order
  personal_website/gallery/views.py
  personal_website/gallery/viewsets.py
Due: mypy

feat(gallery): use naive datetime for photo sorting consistency
  personal_website/gallery/models.py
Due: mypy

feat(Gallery): add pagination support to PhotoList component
  personal_website/frontend/src/components/Gallery/Photo/PhotoList.jsx
  personal_website/frontend/src/components/Pagination/NavigationPagination.jsx
  personal_website/frontend/src/components/Pagination/Pagination.jsx
  personal_website/frontend/src/components/Pagination/utils/paginationRenderers.js
  personal_website/gallery/views.py
  personal_website/gallery/viewsets.py
Due: eslint, mypy

feat(ui): update pagination button styles and labels
  personal_website/frontend/src/components/Pagination/NavigationPagination.jsx
Due: eslint

feat(pagination): add top margin and remove unnecessary line break
  personal_website/frontend/src/components/Pagination/Pagination.jsx
Due: eslint

refactor: use album ID instead of slug for URLs
  personal_website/frontend/src/components/Gallery/Album/AlbumCard.jsx
  personal_website/frontend/src/components/Gallery/Album/AlbumCard.test.js
  personal_website/frontend/src/components/Gallery/Photo/PhotoDetail/hooks/useAlbumPhotos.js
  personal_website/frontend/src/components/Gallery/Photo/PhotoDetail/hooks/usePhotoNavigation.js
  personal_website/frontend/src/components/Gallery/Photo/PhotoList.jsx
  personal_website/frontend/src/components/Navbar/UserAuthSection.test.js
  personal_website/gallery/factories.py
  personal_website/gallery/forms.py
  personal_website/gallery/migrations/0008_photo_album_related_name.py
  personal_website/gallery/models.py
  personal_website/gallery/serializers.py
  personal_website/gallery/tests/test_admin.py
  personal_website/gallery/tests/test_models.py
  personal_website/gallery/tests/test_serializers.py
  personal_website/gallery/tests/test_views.py
  personal_website/gallery/tests/test_viewsets.py
  personal_website/gallery/urls.py
  personal_website/gallery/views.py
  personal_website/gallery/viewsets.py
  personal_website/templates/gallery/album_detail.html
Due: eslint, mypy

refactor(gallery): switch from slug-based to ID-based photo URLs
  personal_website/frontend/src/components/Gallery/Album/AlbumCard.test.js
  personal_website/frontend/src/components/Gallery/Photo/PhotoCard.jsx
  personal_website/frontend/src/components/Gallery/Photo/PhotoDetail.test.js
  personal_website/frontend/src/components/Gallery/Photo/PhotoDetail/PhotoDetail.jsx
  personal_website/frontend/src/components/Gallery/Photo/PhotoDetail/hooks/useAlbumPhotos.js
  personal_website/frontend/src/components/Gallery/Photo/PhotoDetail/hooks/usePhotoData.js
  personal_website/frontend/src/components/Gallery/Photo/PhotoDetail/hooks/usePhotoNavigation.js
  personal_website/gallery/models.py
  personal_website/gallery/urls.py
  personal_website/gallery/views.py
  personal_website/gallery/viewsets.py
  personal_website/templates/gallery/photo_detail.html
  personal_website/templates/gallery/tag_detail.html
Due: eslint, mypy

refactor(gallery): use API order for photo navigation and fix album ID
  personal_website/frontend/src/components/Gallery/Photo/PhotoDetail/PhotoDetail.jsx
  personal_website/frontend/src/components/Gallery/Photo/PhotoDetail/hooks/usePhotoNavigation.js
Due: eslint

feat: optimize photo navigation by using primary key ordering
  personal_website/frontend/src/components/Gallery/Photo/PhotoDetail/PhotoDetail.jsx
  personal_website/gallery/views.py
  personal_website/templates/gallery/photo_detail.html
Due: eslint, mypy

feat(api): add IsAuthorOrReadOnly permission and update tests
  personal_website/api/permissions.py
  personal_website/api/tests/test_permissions.py
Due: mypy

feat(blog): add serializers and tests for blog API models
  personal_website/blog/serializers.py
  personal_website/blog/tests/test_serializers.py
Due: mypy

feat(api): register blog viewsets and include blog routes
  personal_website/api/urls.py
  personal_website/blog/urls.py
Due: mypy

test: add API tests for blog viewsets
  personal_website/blog/tests/test_viewsets.py
  personal_website/blog/viewsets.py
Due: mypy

feat(blog): add ArticleCard component and update ArticlesList
  personal_website/frontend/src/components/Blog/Article/ArticleCard.jsx
  personal_website/frontend/src/components/Blog/Article/ArticleCard.test.js
  personal_website/frontend/src/components/Blog/Article/ArticleDetail.jsx
  personal_website/frontend/src/components/Blog/Article/ArticleDetail.test.js
  personal_website/frontend/src/components/Blog/Article/ArticleList.jsx
  personal_website/frontend/src/components/Blog/Article/ArticleList.test.js
Due: eslint

feat(blog): add Comment and CommentForm components with tests
  personal_website/frontend/src/components/Blog/Comment/Comment.jsx
  personal_website/frontend/src/components/Blog/Comment/Comment.test.js
  personal_website/frontend/src/components/Blog/Comment/CommentForm.jsx
  personal_website/frontend/src/components/Blog/Comment/CommentForm.test.js
  personal_website/frontend/src/components/Blog/Comment/CommentList.jsx
  personal_website/frontend/src/components/Blog/Comment/CommentList.test.js
Due: eslint

feat: register blog components in frontend index
  personal_website/frontend/src/index.js
Due: eslint

feat(blog): add realistic HTML content generation to ArticleFactory
  personal_website/blog/factories.py
  personal_website/blog/tests/test_factories.py
Due: mypy

chore(deps): update dependencies and rename project to personal-website
  package-lock.json
  package.json
  personal_website/blog/serializers.py
  personal_website/blog/tests/test_views.py
  personal_website/blog/views.py
  personal_website/frontend/src/components/Blog/Article/ArticleCard.jsx
  personal_website/frontend/src/components/Blog/Comment/CommentForm.jsx
  personal_website/templates/blog/article_detail.html
  personal_website/templates/blog/article_list.html
  personal_website/templates/blog/category_detail.html
  personal_website/templates/blog/series_detail.html
  personal_website/templates/blog/topic_detail.html
  webpack.config.js
Due: eslint, mypy

style: add spacing to blog article components
  personal_website/frontend/src/components/Blog/Article/ArticleCard.jsx
  personal_website/frontend/src/components/Blog/Article/ArticleDetail.jsx
  personal_website/frontend/src/components/Blog/Article/ArticleList.jsx
Due: eslint

chore(deps): switch WYSIWYG editor to TinyMCE and add copy-webpack-plugin
  package-lock.json
  package.json
  personal_website/frontend/src/components/Blog/Comment/CommentForm.jsx
  personal_website/frontend/src/components/Blog/Comment/CommentForm.test.js
  webpack.config.js
Due: eslint

test: switch photo and tag detail lookups from slug to pk
  personal_website/gallery/tests/test_views.py
  personal_website/gallery/tests/test_viewsets.py
Due: mypy

test(blog): optimize article detail tests by caching fixtures
  personal_website/blog/tests/test_views.py
Due: mypy

feat(blog): add separator between author and timestamp in Comment
  personal_website/frontend/src/components/Blog/Comment/Comment.jsx
Due: eslint

test: add auth context tests and standardize test class names
  personal_website/blog/tests/test_views.py
Due: mypy

chore: add Sourcecraft MCP server configuration
  .codeassistant/mcp.json
Due: none

build: upgrade dependencies to latest versions
  package-lock.json
  package.json
Due: none

chore: support Docker Compose V2 command syntax
  AGENTS.md
  README.md
  Taskfile.yml
  docs/CONTRIBUTING.md
  personal_website/Dockerfile
  personal_website/scripts/docker/restart.sh
  personal_website/scripts/docker/update.sh
  personal_website/scripts/server/deploy.sh
  tools/run-tests.sh
Due: markdownlint

chore: add ESLint configuration and update dependencies
  .eslintrc.json
  eslint.config.mjs
  package-lock.json
  package.json
  personal_website/tests/modules.test.js
  requirements.txt
Due: eslint

refactor: remove unused imports and fix linting issues
  personal_website/frontend/src/components/Alert/AlertList.test.js
  personal_website/frontend/src/components/Blog/Article/ArticleCard.jsx
  personal_website/frontend/src/components/Blog/Article/ArticleDetail.jsx
  personal_website/frontend/src/components/Blog/Article/ArticleList.jsx
  personal_website/frontend/src/components/Blog/Comment/Comment.jsx
  personal_website/frontend/src/components/Blog/Comment/CommentForm.jsx
  personal_website/frontend/src/components/Blog/Comment/CommentList.jsx
  personal_website/frontend/src/components/Gallery/Photo/ExifData.jsx
  personal_website/frontend/src/components/Gallery/Photo/PhotoCard.test.js
  personal_website/frontend/src/components/Gallery/Photo/PhotoDetail.test.js
  personal_website/frontend/src/components/Gallery/Photo/PhotoDetail/PhotoDetail.jsx
  personal_website/frontend/src/components/Gallery/Photo/PhotoDetail/hooks/usePhotoData.js
  personal_website/frontend/src/components/Gallery/Photo/PhotoList.jsx
  personal_website/frontend/src/components/Gallery/Photo/PhotoList.test.js
  personal_website/frontend/src/components/Gallery/Tags/TagButton.jsx
  personal_website/frontend/src/components/Gallery/Tags/TagsOffcanvas.jsx
  personal_website/frontend/src/components/Gallery/Tags/TagsOffcanvas.test.js
  personal_website/frontend/src/components/Navbar/NavItems.jsx
  personal_website/frontend/src/components/Navbar/NavItems.test.js
  personal_website/frontend/src/components/Navbar/UserAuthSection.test.js
  personal_website/frontend/src/components/Pagination/NavigationPagination.jsx
  personal_website/frontend/src/components/Pagination/Pagination.jsx
  personal_website/gallery/factories.py
  personal_website/gallery/migrations/0008_photo_album_related_name.py
  personal_website/templates/base.html
  personal_website/templates/blog/article_detail.html
Due: eslint, mypy

chore: upgrade to Node.js 22 and update eslint config
  .nvmrc
  eslint.config.mjs
  package-lock.json
  package.json
  personal_website/Dockerfile
Due: none

refactor(main): convert main page to React components
  personal_website/frontend/src/components/Main/CategoryCard.jsx
  personal_website/frontend/src/components/Main/CategoryCard.test.js
  personal_website/frontend/src/components/Main/CategoryGrid.jsx
  personal_website/frontend/src/components/Main/CategoryGrid.test.js
  personal_website/frontend/src/components/Main/HomePage.jsx
  personal_website/frontend/src/components/Main/HomePage.test.js
  personal_website/frontend/src/components/Main/SeriesCard.jsx
  personal_website/frontend/src/components/Main/SeriesCard.test.js
  personal_website/frontend/src/components/Main/SeriesGrid.jsx
  personal_website/frontend/src/components/Main/SeriesGrid.test.js
  personal_website/frontend/src/index.js
  personal_website/main/tests.py
  personal_website/main/views.py
  personal_website/templates/main/main.html
Due: eslint, mypy

chore: update .gitignore
  .gitignore
Due: none

refactor(frontend): introduce service layer and path aliases
  frontend/jest.config.js
  frontend/src/components/Blog/Article/ArticleList.jsx
  frontend/src/components/Blog/Article/ArticleList.test.js
  frontend/src/components/Blog/Comment/CommentForm.jsx
  frontend/src/components/Blog/Comment/CommentForm.test.js
  frontend/src/components/Gallery/Album/AlbumCard.jsx
  frontend/src/components/Gallery/Photo/PhotoDetail.test.js
  frontend/src/components/Gallery/Photo/PhotoDetail/PhotoDetail.jsx
  frontend/src/components/Gallery/Upload/PhotoUploadForm.jsx
  frontend/src/components/Gallery/Upload/PhotoUploadForm.test.js
  frontend/src/components/Main/CategoryCard.jsx
  frontend/src/hooks/index.js
  frontend/src/hooks/useAlbumPhotos.js
  frontend/src/hooks/useApiData.js
  frontend/src/hooks/useApiData.test.js
  frontend/src/hooks/useLocalStorage.js
  frontend/src/hooks/usePagination.js
  frontend/src/hooks/usePagination.test.js
  frontend/src/hooks/usePhotoData.js
  frontend/src/hooks/usePhotoNavigation.js
  frontend/src/hooks/useToggle.js
  frontend/src/services/api.js
  frontend/src/services/api.test.js
  frontend/src/services/blogService.js
  frontend/src/services/galleryService.js
  frontend/src/services/index.js
  frontend/src/ui/Card/BaseCard.jsx
  frontend/src/ui/Card/BaseCard.test.js
  frontend/src/ui/Feedback/DataStateWrapper.jsx
  frontend/src/ui/Feedback/DataStateWrapper.test.js
  frontend/src/ui/index.js
  frontend/src/utils/cookies.js
  frontend/webpack.config.js
Due: eslint

refactor(frontend): удалить тестовый компонент и его тесты
  frontend/src/components/TestComponent.jsx
  frontend/src/components/TestComponent.test.js
Due: eslint

refactor(frontend): удалить компонент BaseCard и DataStateWrapper, обновить импорты
  frontend/jest.config.js
  frontend/src/components/Card/BaseCard.jsx
  frontend/src/components/Card/BaseCard.test.js
  frontend/src/components/Gallery/Album/AlbumCard.jsx
  frontend/src/components/Main/CategoryCard.jsx
  frontend/src/ui/Feedback/DataStateWrapper.jsx
  frontend/src/ui/Feedback/DataStateWrapper.test.js
  frontend/src/ui/index.js
  frontend/webpack.config.js
Due: eslint

ci: add Jest tests job and frontend build step to CI
  .github/workflows/test.yml
  .sourcecraft/ci.yaml
  package.json
Due: none

refactor: restructure project into backend and frontend directories
  .github/workflows/deploy.yml
  AGENTS.md
  docs/CONTRIBUTING.md
Due: markdownlint

docs: update README documentation for React and REST API architecture
  README.md
  docs/diagrams/out/container/container.png
  docs/diagrams/src/container.puml
Due: markdownlint

Path conditions:
  eslint: any of: \.[jt]sx?$
  markdownlint: any of: \.(md|markdown)$
  mypy: any of: \.py$
  poetry-export: any of: ^(.*/)?poetry\.lock$
