Repository mikhpo/personal-website: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, markdownlint, mypy, poetry-export

.pre-commit-config.yaml:

# См. https://pre-commit.com для дополнительной информации
# См. https://pre-commit.com/hooks.html для доступных хуков

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-added-large-files
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort (python)
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.10.0
    hooks:
      - id: black
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/python-poetry/poetry
    rev: "2.0.0"
    hooks:
      - id: poetry-check
      - id: poetry-lock
      - id: poetry-install
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        description: Статический анализ кода JavaScript при помощи ESLint
        entry: npm run eslint
        language: system
        types: [file]
        files: \.[jt]sx?$  # *.js, *.jsx, *.ts, *.tsx
      - id: markdownlint
        name: markdownlint
        description: Проверка Markdown файлов при помощи markdownlint
        entry: npm run markdownlint
        language: system
        types: [file]
        files: \.(md|markdown)$
      - id: mypy
        name: mypy
        description: Выполнить проверки типов при помощи Mypy
        entry: poetry run mypy .
        language: system
        types: [python]
        pass_filenames: false
      - id: poetry-export
        name: poetry-export
        description: Экспорт зависимостей в requirements.txt
        entry: bash -c 'poetry run pip freeze > requirements.txt'
        language: system
        pass_filenames: false
        files: ^(.*/)?poetry\.lock$

fix: описание серий выводится обычным текстом без ссылки-подчеркивания
  frontend/src/components/Main/SeriesCard.jsx
  frontend/src/components/Main/SeriesCard.test.js
Due: eslint

fix: описания карточек кликабельны, но без подчеркивания ссылки
  docs/CHANGELOG.md
  frontend/src/components/Card/BaseCard.jsx
  frontend/src/components/Card/BaseCard.test.js
  frontend/src/components/Main/SeriesCard.jsx
  frontend/src/components/Main/SeriesCard.test.js
Due: eslint, markdownlint

fix: названия и описания карточек без подчеркивания ссылки
  backend/staticfiles/css/cards.css
  docs/CHANGELOG.md
  frontend/src/components/Card/BaseCard.jsx
  frontend/src/components/Gallery/Album/AlbumCard.jsx
  frontend/src/components/Gallery/Album/AlbumCard.test.js
  frontend/src/components/Main/SeriesCard.jsx
  frontend/src/components/Main/SeriesCard.test.js
Due: eslint, markdownlint

feat: переключение темы сайта (светлая, темная, системная)
  backend/main/tests.py
  backend/staticfiles/css/base.css
  backend/staticfiles/css/cards.css
  backend/staticfiles/css/navbar.css
  backend/staticfiles/js/theme.js
  backend/templates/base.html
  backend/templates/gallery/upload.html
  backend/templates/registration/login.html
  docs/CHANGELOG.md
  frontend/jest.setup.js
  frontend/src/components/Blog/Article/ArticleCard.jsx
  frontend/src/components/Blog/Article/ArticleDetail.jsx
  frontend/src/components/Card/BaseCard.jsx
  frontend/src/components/Card/BaseCard.test.js
  frontend/src/components/Gallery/Album/AlbumCard.jsx
  frontend/src/components/Gallery/Album/AlbumCard.test.js
  frontend/src/components/Gallery/Photo/PhotoCard.jsx
  frontend/src/components/Gallery/Photo/PhotoCard.test.js
  frontend/src/components/Gallery/Photo/PhotoDetail.jsx
  frontend/src/components/Gallery/Upload/FileDropzone.jsx
  frontend/src/components/Gallery/Upload/PhotoUploadForm.jsx
  frontend/src/components/Main/SeriesCard.jsx
  frontend/src/components/Main/SeriesCard.test.js
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/Navbar/Navbar.test.js
  frontend/src/components/Navbar/ThemeToggle.jsx
  frontend/src/components/Navbar/ThemeToggle.test.js
  frontend/src/hooks/index.js
  frontend/src/hooks/useLocalStorage.js
  frontend/src/hooks/useLocalStorage.test.js
  frontend/src/hooks/useTheme.js
  frontend/src/hooks/useTheme.test.js
  frontend/webpack.config.js
  package-lock.json
  package.json
  tests/conftest.py
  tests/test_theme.py
Due: eslint, markdownlint, mypy

fix: невидимость контурных кнопок в темной теме
  backend/staticfiles/css/base.css
Due: none

feat: ссылка на альбом в окне «О фото» страницы фотографии
  backend/gallery/serializers.py
  backend/gallery/tests/test_serializers.py
  backend/gallery/tests/test_viewsets.py
  docs/CHANGELOG.md
  frontend/src/components/Gallery/Photo/ExifData.jsx
  frontend/src/components/Gallery/Photo/ExifData.test.js
  frontend/src/components/Gallery/Photo/PhotoDetail.test.js
Due: eslint, markdownlint, mypy

refactor: компонент AboutPhoto объединяет альбом, описание и EXIF фотографии
  docs/CHANGELOG.md
  frontend/src/components/Gallery/Photo/AboutPhoto.jsx
  frontend/src/components/Gallery/Photo/AboutPhoto.test.js
  frontend/src/components/Gallery/Photo/ExifData.jsx
  frontend/src/components/Gallery/Photo/ExifData.test.js
  frontend/src/components/Gallery/Photo/PhotoDetail.jsx
  frontend/src/components/Gallery/Photo/PhotoDetail.test.js
Due: eslint, markdownlint

feat: аудит изменений объектов и журналирование инцидентов доступа
  backend/accounts/apps.py
  backend/accounts/serializers.py
  backend/accounts/signals.py
  backend/accounts/tests/test_audit_log.py
  backend/accounts/views.py
  backend/accounts/viewsets.py
  backend/api/mixins.py
  backend/api/urls.py
  backend/blog/apps.py
  backend/blog/tests/test_auditlog.py
  backend/blog/views.py
  backend/blog/viewsets.py
  backend/gallery/apps.py
  backend/gallery/models.py
  backend/gallery/tests/test_auditlog.py
  backend/gallery/viewsets.py
  backend/personal_website/middleware.py
  backend/personal_website/settings.py
  compose.yaml
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: markdownlint, mypy, poetry-export

test: унифицировано имя файла тестов аудита accounts
  backend/accounts/tests/test_auditlog.py
Due: mypy

test: TestAlbumCascadeAuditLog переименован в TestAlbumAuditLog
  backend/gallery/tests/test_auditlog.py
Due: mypy

fix: состояние ветки CI-зеркала в синхронизаторе берется из origin, а не из checkout
  .sourcecraft/ci.yaml
  docs/CHANGELOG.md
  tools/sync_mirrors.py
Due: markdownlint, mypy

docs: правила создания тегов и релизов
  AGENTS.md
Due: markdownlint

feat: русские названия журнала аудита через переводческий каталог
  .github/workflows/test.yml
  .gitignore
  .sourcecraft/ci.yaml
  Dockerfile
  backend/locale/ru/LC_MESSAGES/django.po
  backend/personal_website/settings.py
  backend/personal_website/tests/test_locale.py
  docs/CHANGELOG.md
  scripts/server/deploy.sh
  scripts/server/setup.sh
Due: markdownlint, mypy

fix: установка gettext в CI для компиляции переводов
  .github/workflows/test.yml
Due: none

feat: фоновая генерация превью и миниатюр после загрузки фотографий
  AGENTS.md
  README.md
  Taskfile.yml
  backend/entrypoint.sh
  backend/gallery/apps.py
  backend/gallery/signals.py
  backend/gallery/tasks.py
  backend/gallery/tests/test_tasks.py
  backend/personal_website/settings.py
  compose.yaml
  docs/CHANGELOG.md
  docs/deployment/application.md
  docs/deployment/backups.md
  docs/deployment/database.md
  docs/deployment/matrix.md
  docs/deployment/proxy.md
  docs/deployment/storage.md
  docs/deployment/worker.md
  docs/diagrams/out/container/container.svg
  docs/diagrams/src/container.puml
  poetry.lock
  pyproject.toml
  requirements.txt
  scripts/server/deploy.sh
  scripts/server/restart.sh
  scripts/server/setup.sh
  scripts/server/systemd/personal-website-worker.service.template
Due: markdownlint, mypy, poetry-export

docs: добавить раздел о прикреплении скриншотов к задачам и PR
  .agents/skills/github-workflow/SKILL.md
Due: markdownlint

fix: устранение замечаний ревью фоновой генерации
  backend/entrypoint.sh
  backend/gallery/signals.py
  backend/gallery/tasks.py
  backend/gallery/tests/test_tasks.py
  backend/personal_website/storages.py
  compose.yaml
  docs/CHANGELOG.md
  docs/deployment/storage.md
  docs/deployment/worker.md
  scripts/server/systemd/personal-website-worker.service.template
  scripts/server/systemd/personal-website.service.template
Due: markdownlint, mypy

fix: защищенная постановка после коммита и изоляция временных файлов записи
  backend/gallery/signals.py
  backend/gallery/tests/test_tasks.py
  backend/personal_website/settings.py
  backend/personal_website/storages.py
  backend/personal_website/tests/test_storages.py
  docs/CHANGELOG.md
  docs/deployment/worker.md
Due: markdownlint, mypy

test: сбор исключений воркеров в проверке параллельной записи
  backend/personal_website/tests/test_storages.py
Due: mypy

chore: объединены блоки mypy-исключений для библиотек без типизации
  pyproject.toml
Due: none

docs: записи CHANGELOG о воркере сформулированы емче
  docs/CHANGELOG.md
Due: markdownlint

refactor: тесты задачи генерации объединены в класс TestGeneratePhotoImages
  backend/gallery/tests/test_tasks.py
Due: mypy

feat: создание и редактирование статей с сайта
  backend/blog/mixins.py
  backend/blog/serializers.py
  backend/blog/tests/test_serializers.py
  backend/blog/tests/test_views.py
  backend/blog/tests/test_viewsets.py
  backend/blog/urls.py
  backend/blog/views.py
  backend/blog/viewsets.py
  backend/staticfiles/css/base.css
  backend/templates/blog/article_detail.html
  backend/templates/blog/article_form.html
  backend/templates/blog/article_list.html
  backend/templates/blog/category_detail.html
  backend/templates/blog/series_detail.html
  backend/templates/blog/topic_detail.html
  docs/CHANGELOG.md
  frontend/src/components/Blog/Article/ArticleCard.jsx
  frontend/src/components/Blog/Article/ArticleCard.test.js
  frontend/src/components/Blog/Article/ArticleDetail.jsx
  frontend/src/components/Blog/Article/ArticleDetail.test.js
  frontend/src/components/Blog/Article/ArticleForm.jsx
  frontend/src/components/Blog/Article/ArticleForm.test.js
  frontend/src/components/Blog/Article/ArticleList.jsx
  frontend/src/components/Blog/Comment/CommentForm.jsx
  frontend/src/hooks/index.js
  frontend/src/hooks/useHtmlTheme.js
  frontend/src/hooks/useHtmlTheme.test.js
  frontend/src/index.js
  frontend/src/services/api.js
  frontend/src/services/blogService.js
  frontend/src/utils/tinymce.js
  frontend/src/utils/tinymce.test.js
Due: eslint, markdownlint, mypy

docs: требование компактности записей в CHANGELOG
  AGENTS.md
Due: markdownlint

style: правило прямых кавычек вместо ёлочек в типографике
  .agents/skills/backup-audit/SKILL.md
  .agents/skills/backup-restore/SKILL.md
  .agents/skills/fix-documentation/SKILL.md
  .agents/skills/github-workflow/SKILL.md
  .agents/skills/postgresql-restore/SKILL.md
  .agents/skills/production-diagnostics/SKILL.md
  .agents/skills/server-setup/SKILL.md
  .agents/skills/sourcecraft-workflow/SKILL.md
  .agents/skills/spec-driven-development/SKILL.md
  .env.example
  .pre-commit-config.yaml
  AGENTS.md
  backend/backup/reports.py
  backend/backup/tests/test_reports.py
  backend/blog/serializers.py
  docs/CHANGELOG.md
  docs/CONTRIBUTING.md
  docs/deployment/application.md
  docs/deployment/backups.md
  docs/deployment/database.md
  docs/deployment/matrix.md
  docs/diagrams/out/container/container.svg
  docs/diagrams/out/context/context.svg
  frontend/src/components/Blog/Article/ArticleCard.jsx
  frontend/src/components/Blog/Article/ArticleForm.jsx
  frontend/src/components/Blog/Article/ArticleForm.test.js
  frontend/src/components/Blog/Article/ArticleList.jsx
  frontend/src/components/Blog/Article/ArticleList.test.js
  frontend/src/components/Gallery/Album/AlbumList.jsx
  frontend/src/components/Gallery/Album/AlbumList.test.js
  frontend/src/components/Gallery/Photo/AboutPhoto.jsx
  frontend/src/components/Gallery/Photo/PhotoDetail.test.js
  frontend/src/components/Gallery/Photo/PhotoList.jsx
  frontend/src/components/Gallery/Photo/PhotoList.test.js
  frontend/src/components/Navbar/ThemeToggle.jsx
  frontend/src/components/Navbar/ThemeToggle.test.js
  tools/fix_typography.py
  tools/sync_mirrors.py
Due: eslint, markdownlint, mypy

fix: замечания ревью формы статей
  backend/blog/tests/test_viewsets.py
  backend/blog/viewsets.py
  frontend/src/components/Blog/Article/ArticleForm.jsx
  frontend/src/components/Blog/Article/ArticleForm.test.js
  frontend/src/services/blogService.js
  frontend/src/utils/tinymce.js
Due: eslint, mypy

fix: адрес TinyMCE из хранилища статики и кнопка редактирования статьи
  backend/blog/tests/test_views.py
  backend/templates/blog/article_detail.html
  backend/templates/blog/article_form.html
  docs/CHANGELOG.md
  frontend/src/components/Blog/Article/ArticleDetail.jsx
  frontend/src/components/Blog/Article/ArticleDetail.test.js
  frontend/src/components/Blog/Article/ArticleForm.jsx
  frontend/src/components/Blog/Comment/CommentForm.jsx
  frontend/src/components/Blog/Comment/CommentForm.test.js
  frontend/src/utils/tinymce.js
Due: eslint, markdownlint, mypy

fix: убрать ссылку редактирования из карточек списка статей
  backend/blog/tests/test_views.py
  backend/templates/blog/article_list.html
  backend/templates/blog/category_detail.html
  backend/templates/blog/series_detail.html
  backend/templates/blog/topic_detail.html
  docs/CHANGELOG.md
  frontend/src/components/Blog/Article/ArticleCard.jsx
  frontend/src/components/Blog/Article/ArticleCard.test.js
  frontend/src/components/Blog/Article/ArticleList.jsx
Due: eslint, markdownlint, mypy

test: удалить анти-тесты отсутствия удаленных элементов
  frontend/src/components/Blog/Article/ArticleCard.test.js
  frontend/src/components/Blog/Comment/CommentForm.test.js
  frontend/src/components/Gallery/Photo/PhotoCard.test.js
Due: eslint

docs: правило анти-тестов в AGENTS.md
  AGENTS.md
Due: markdownlint

fix(gallery): исправить адрес эндпоинта загрузки фотографий
  frontend/src/services/galleryService.js
Due: eslint

feat: пакетная загрузка фотографий в альбом из админ-панели
  AGENTS.md
  backend/gallery/admin.py
  backend/gallery/services.py
  backend/gallery/tests/test_admin.py
  backend/gallery/tests/test_services.py
  backend/gallery/views.py
  backend/gallery/viewsets.py
  backend/templates/admin/gallery/album/upload.html
  backend/templates/adminsortable2/gallery/album/change_list.html
  docs/CHANGELOG.md
Due: markdownlint, mypy

chore(config): настроить лицензию TinyMCE для самостоятельного хостинга
  backend/personal_website/settings.py
Due: mypy

fix: получение образов MinIO с Quay с фиксированными версиями
  Dockerfile
  compose.yaml
  docs/CHANGELOG.md
  docs/deployment/storage.md
Due: markdownlint

feat(admin): добавить стили и подсказку на страницу загрузки фотографий
  backend/gallery/static/gallery/css/admin_upload.css
  backend/templates/admin/gallery/album/upload.html
Due: none

feat(gallery): постоянные ссылки на превью фотографий для вставки в статьи
  backend/gallery/admin.py
  backend/gallery/models.py
  backend/gallery/services.py
  backend/gallery/signals.py
  backend/gallery/static/gallery/css/admin_embed_links.css
  backend/gallery/static/gallery/js/admin_embed_links.js
  backend/gallery/tests/test_admin.py
  backend/gallery/tests/test_views.py
  backend/gallery/urls.py
  backend/gallery/views.py
  backend/personal_website/settings.py
  backend/templates/admin/gallery/photo/delete_confirmation.html
  backend/templates/admin/gallery/photo/embed_links.html
  backend/templates/admin/gallery/photo/exif_table.html
  backend/templates/gallery/photo_detail.html
  docs/CHANGELOG.md
  frontend/src/components/Gallery/Photo/EmbedLinksModal.jsx
  frontend/src/components/Gallery/Photo/EmbedLinksModal.test.js
  frontend/src/components/Gallery/Photo/PhotoDetail.jsx
  frontend/src/components/Gallery/Photo/PhotoDetail.test.js
Due: eslint, markdownlint, mypy

docs: объединение записей CHANGELOG о постоянных ссылках на превью
  docs/CHANGELOG.md
Due: markdownlint

feat(gallery): отображение фотографий и альбомов masonry-сеткой
  AGENTS.md
  backend/gallery/factories.py
  backend/gallery/tests/test_views.py
  backend/staticfiles/css/masonry.css
  backend/templates/base.html
  docs/CHANGELOG.md
  frontend/src/components/Gallery/Album/AlbumCard.jsx
  frontend/src/components/Gallery/Album/AlbumList.jsx
  frontend/src/components/Gallery/Album/AlbumList.test.js
  frontend/src/components/Gallery/Photo/PhotoCard.jsx
  frontend/src/components/Gallery/Photo/PhotoCard.test.js
  frontend/src/components/Gallery/Photo/PhotoList.jsx
  frontend/src/components/Gallery/Photo/PhotoList.test.js
  frontend/src/hooks/index.js
  frontend/src/hooks/useMasonry.js
  frontend/src/hooks/useMasonry.test.js
  package-lock.json
  package.json
Due: eslint, markdownlint, mypy

fix(gallery): пересчет masonry при ошибке загрузки обложки альбома
  frontend/src/components/Gallery/Album/AlbumCard.jsx
  frontend/src/components/Gallery/Album/AlbumCard.test.js
Due: eslint

test(gallery): настоящие четыре колонки в тесте раскладки masonry
  frontend/src/hooks/useMasonry.test.js
Due: eslint
