Repository mikhpo/personal-website: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, markdownlint, mypy, poetry-export

.pre-commit-config.yaml:

# См. https://pre-commit.com для дополнительной информации
# См. https://pre-commit.com/hooks.html для доступных хуков

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-added-large-files
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort (python)
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.10.0
    hooks:
      - id: black
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/python-poetry/poetry
    rev: "2.0.0"
    hooks:
      - id: poetry-check
      - id: poetry-lock
      - id: poetry-install
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        description: Статический анализ кода JavaScript при помощи ESLint
        entry: npm run eslint
        language: system
        types: [file]
        files: \.[jt]sx?$  # *.js, *.jsx, *.ts, *.tsx
      - id: markdownlint
        name: markdownlint
        description: Проверка Markdown файлов при помощи markdownlint
        entry: npm run markdownlint
        language: system
        types: [file]
        files: \.(md|markdown)$
      - id: mypy
        name: mypy
        description: Выполнить проверки типов при помощи Mypy
        entry: poetry run mypy .
        language: system
        types: [python]
        pass_filenames: false
      - id: poetry-export
        name: poetry-export
        description: Экспорт зависимостей в requirements.txt
        entry: bash -c 'poetry run pip freeze > requirements.txt'
        language: system
        pass_filenames: false
        files: ^(.*/)?poetry\.lock$

fix(test): increase minimum word count in article factory
  backend/blog/factories.py
Due: mypy

fix: устранить ошибку 500 на browsable API list-endpoints (!18)
  backend/gallery/tests/test_viewsets.py
  backend/personal_website/settings.py
  docs/CHANGELOG.md
Due: markdownlint, mypy

docs: добавить скиллы sourcecraft-workflow и production-diagnostics (!19)
  .agents/skills/production-diagnostics/SKILL.md
  .agents/skills/sourcecraft-workflow/SKILL.md
Due: markdownlint

docs: указать автоудаление исходной ветки при merge PR в скилле sourcecraft-workflow
  .agents/skills/sourcecraft-workflow/SKILL.md
Due: markdownlint

docs: уточнить, что --delete-branch не удаляет ветку в headless-режиме
  .agents/skills/sourcecraft-workflow/SKILL.md
Due: markdownlint

docs: добавить политику учёта внешних правок в AGENTS.md и убрать избыточный шаг проверки из скилла sourcecraft-workflow
  .agents/skills/sourcecraft-workflow/SKILL.md
  AGENTS.md
Due: markdownlint

fix: генерацию URL фильтрации объектов перенести во фронтенд (!23)
  .agents/skills/sourcecraft-workflow/SKILL.md
  backend/blog/tests/test_views.py
  backend/gallery/tests/test_views.py
  backend/templates/blog/category_detail.html
  backend/templates/blog/series_detail.html
  backend/templates/blog/topic_detail.html
  backend/templates/gallery/tag_detail.html
  docs/CHANGELOG.md
  frontend/src/components/Blog/Article/ArticleList.jsx
  frontend/src/components/Blog/Article/ArticleList.test.js
  frontend/src/components/Gallery/Album/AlbumList.jsx
  frontend/src/components/Gallery/Album/AlbumList.test.js
  frontend/src/components/Gallery/Photo/PhotoList.jsx
  frontend/src/components/Gallery/Photo/PhotoList.test.js
  frontend/src/services/blogService.js
  frontend/src/services/galleryService.js
  frontend/src/utils/apiUrl.js
  frontend/src/utils/apiUrl.test.js
Due: eslint, markdownlint, mypy

feat: добавить поддержку S3→S3 режима в scripts/s3backup.sh
  scripts/s3backup.sh
Due: none

feat: оптимизация S3 для production - ImageKit Optimistic и client_config
  backend/personal_website/settings.py
Due: mypy

fix: исправить client_config для S3 - использовать botocore.Config вместо dict
  backend/personal_website/settings.py
Due: mypy

fix: использовать self.image.storage для чтения EXIF данных вместо глобального storage
  backend/gallery/models.py
Due: mypy

fix: добавить обработку исключений при чтении EXIF данных
  backend/gallery/models.py
Due: mypy

fix: установка Node.js 22 в SourceCraft CI из официального архива nodejs.org
  .agents/skills/sourcecraft-workflow/SKILL.md
  .sourcecraft/ci.yaml
  tools/src-cube-logs.sh
Due: markdownlint

fix: убрать двоеточие из строки echo в ci.yaml
  .sourcecraft/ci.yaml
Due: none

feat: добавить поле exif (JSONField) в модель Photo для хранения EXIF данных в БД
  backend/gallery/migrations/0012_photo_exif.py
  backend/gallery/migrations/0013_populate_photo_exif.py
  backend/gallery/models.py
  backend/gallery/tests/test_factories.py
  backend/gallery/tests/test_models.py
  backend/gallery/tests/test_utils.py
  backend/gallery/utils.py
  docs/CHANGELOG.md
Due: markdownlint, mypy

fix: исправить архитектуру Node.js (amd64->x64) в CI и polling-циклы в SKILL.md
  .agents/skills/sourcecraft-workflow/SKILL.md
  .sourcecraft/ci.yaml
Due: markdownlint

fix: исправить архитектуру Node.js в CI (amd64 -> x64)
  .sourcecraft/ci.yaml
Due: none

fix: фильтр пустого exif в миграции данных ({} вместо isnull)
  backend/gallery/migrations/0013_populate_photo_exif.py
Due: mypy

fix: обработка ZeroDivisionError при конвертации IFDRational с нулевым знаменателем
  backend/gallery/migrations/0013_populate_photo_exif.py
  backend/gallery/tests/test_utils.py
  backend/gallery/utils.py
  docs/CHANGELOG.md
Due: markdownlint, mypy

docs: remove ZeroDivisionError entry from changelog
  docs/CHANGELOG.md
Due: markdownlint

fix(gallery): подключить GalleryPhotoPagination к PhotoViewSet
  backend/gallery/viewsets.py
Due: mypy

docs: актуализировать архитектурные диаграммы под текущую архитектуру
  docs/diagrams/src/container.puml
  docs/images/apps_models.png
  docs/images/blog_models.png
  docs/images/gallery_models.png
  docs/images/project_models.png
Due: none

docs: добавить воспроизводимый рендер C4-диаграмм через PlantUML
  README.md
  Taskfile.yml
  docs/CONTRIBUTING.md
  docs/diagrams/out/container/container.png
  docs/diagrams/out/container/container.svg
  docs/diagrams/out/context/context.svg
  tools/render-diagrams.sh
Due: markdownlint

fix(docs): убрать избыточный 4-й аргумент System_Ext для S3
  docs/diagrams/out/container/container.svg
  docs/diagrams/src/container.puml
Due: none

docs: update CONTRIBUTING.md
  docs/CONTRIBUTING.md
Due: markdownlint

docs(skill): merge PR только по явному подтверждению пользователя
  .agents/skills/sourcecraft-workflow/SKILL.md
Due: markdownlint

docs(skill): убрать вложенный шаг 7.1 в цикле работы с PR
  .agents/skills/sourcecraft-workflow/SKILL.md
Due: markdownlint

feat: подготовка кода к миграции на Managed PostgreSQL
  .env.example
  Dockerfile
  backend/personal_website/settings.py
  compose.yaml
  docs/CONTRIBUTING.md
  docs/diagrams/out/container/container.svg
  docs/diagrams/src/container.puml
Due: markdownlint, mypy

fix: обновить базовый образ до python:3.14-trixie
  Dockerfile
Due: none

refactor: заменить SimplePilImageGenerator на GraphicJpegFileProvider
  backend/blog/tests/test_admin.py
  backend/gallery/conftest.py
  backend/gallery/tests/test_utils.py
Due: mypy

fix: исправить количество аргументов System_Ext в контейнерной диаграмме
  docs/diagrams/out/container/container.svg
  docs/diagrams/src/container.puml
Due: none

fix: заменить System_Ext на ContainerDb в контейнерной диаграмме
  docs/diagrams/out/container/container.svg
  docs/diagrams/src/container.puml
Due: none

fix: обновить версию PostgreSQL с 15 на 17 в compose.yaml
  compose.yaml
Due: none

docs: update CHANGELOG.md
  docs/CHANGELOG.md
Due: markdownlint

fix: добавлять sslrootcert только если путь задан
  backend/personal_website/settings.py
Due: mypy

refactor: удалить wkhtmltopdf и обновить PostgreSQL до 17 в deploy.sh
  scripts/server/deploy.sh
Due: none

refactor: удалить wkhtmltopdf из CI конфигураций
  .github/workflows/test.yml
  .sourcecraft/ci.yaml
Due: none

refactor: удалить imgkit из зависимостей
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-export

fix: единообразная логика публичности объектов (share-by-link)
  backend/api/permissions.py
  backend/api/tests/test_permissions.py
  backend/blog/tests/test_views.py
  backend/blog/tests/test_viewsets.py
  backend/blog/views.py
  backend/blog/viewsets.py
  backend/gallery/tests/test_views.py
  backend/gallery/tests/test_viewsets.py
  backend/gallery/views.py
  backend/gallery/viewsets.py
  backend/templates/base.html
  backend/templates/blog/article_detail.html
  backend/templates/blog/category_detail.html
  backend/templates/blog/series_detail.html
  backend/templates/blog/topic_detail.html
  backend/templates/gallery/album_detail.html
  backend/templates/gallery/photo_detail.html
  docs/CHANGELOG.md
Due: markdownlint, mypy
