Repository mikhpo/personal-website: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, markdownlint, mypy, poetry-export

.pre-commit-config.yaml:

# См. https://pre-commit.com для дополнительной информации
# См. https://pre-commit.com/hooks.html для доступных хуков

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-added-large-files
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort (python)
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.10.0
    hooks:
      - id: black
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/python-poetry/poetry
    rev: "2.0.0"
    hooks:
      - id: poetry-check
      - id: poetry-lock
      - id: poetry-install
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        description: Статический анализ кода JavaScript при помощи ESLint
        entry: npm run eslint
        language: system
        types: [file]
        files: \.[jt]sx?$  # *.js, *.jsx, *.ts, *.tsx
      - id: markdownlint
        name: markdownlint
        description: Проверка Markdown файлов при помощи markdownlint
        entry: npm run markdownlint
        language: system
        types: [file]
        files: \.(md|markdown)$
      - id: mypy
        name: mypy
        description: Выполнить проверки типов при помощи Mypy
        entry: poetry run mypy .
        language: system
        types: [python]
        pass_filenames: false
      - id: poetry-export
        name: poetry-export
        description: Экспорт зависимостей в requirements.txt
        entry: bash -c 'poetry run pip freeze > requirements.txt'
        language: system
        pass_filenames: false
        files: ^(.*/)?poetry\.lock$

fix: восстановление GitHub workflows и документации, правка формулировок (#83)
  .env.example
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  README.md
  compose.yaml
  docs/CHANGELOG.md
  docs/CONTRIBUTING.md
Due: markdownlint

docs: перенос раздела об экранировании доллара из README в CONTRIBUTING (#82)
  .env.example
  README.md
  docs/CHANGELOG.md
  docs/CONTRIBUTING.md
Due: markdownlint

docs(agents): restructure server-setup skill metadata
  .agents/skills/server-setup/SKILL.md
Due: markdownlint

feat(agents): add spec-driven plan workflow skill
  .agents/skills/spec-driven-plan/SKILL.md
Due: markdownlint

refactor: rename spec-driven-plan to spec-driven-development
  .agents/skills/spec-driven-development/SKILL.md
Due: markdownlint

feat: контейнерное ядро — сервис application, ортогональные профили и эндпоинт /health/
  .env.example
  AGENTS.md
  README.md
  Taskfile.yml
  backend/entrypoint.sh
  backend/personal_website/tests/test_views.py
  backend/personal_website/urls.py
  backend/personal_website/views.py
  compose.yaml
  docs/CHANGELOG.md
  docs/CONTRIBUTING.md
  tests/test_traefik.py
Due: markdownlint, mypy

fix: симметричная публикация порта приложения и интерполяция порта в healthcheck
  compose.yaml
Due: none

fix: ожидание готовности S3 в entrypoint только при STORAGE_TYPE=s3, провайдер-независимая проверка
  backend/entrypoint.sh
  docs/CHANGELOG.md
Due: markdownlint

update urls.py
  backend/personal_website/urls.py
Due: mypy

update entrypoint.sh
  backend/entrypoint.sh
Due: none

docs: правила комментариев в коде — без пересказа кода и описания удаленного поведения
  AGENTS.md
Due: markdownlint

feat: postgres как достаточный профиль для локальной разработки
  .env.example
  AGENTS.md
  README.md
  Taskfile.yml
  docs/CHANGELOG.md
  docs/CONTRIBUTING.md
Due: markdownlint

docs: update README.md
  README.md
Due: markdownlint

update 5 files
  .env.example
  AGENTS.md
  README.md
  docs/CHANGELOG.md
  docs/CONTRIBUTING.md
Due: markdownlint

chore: update compose.yaml
  compose.yaml
Due: none

fix: обработка замечаний ревью PR !42
  .env.example
  backend/entrypoint.sh
  backend/personal_website/views.py
  tests/test_traefik.py
Due: mypy

feat: правила типографики, pre-commit хук автозамены и замена тире и стрелки во всех файлах
  .agents/skills/postgresql-dump/SKILL.md
  .agents/skills/postgresql-dump/scripts/pg-dump.sh
  .agents/skills/postgresql-restore/SKILL.md
  .agents/skills/production-diagnostics/SKILL.md
  .agents/skills/server-setup/SKILL.md
  .agents/skills/sourcecraft-workflow/SKILL.md
  .agents/skills/spec-driven-development/SKILL.md
  .agents/skills/yc-postgresql/SKILL.md
  .github/workflows/test.yml
  .pre-commit-config.yaml
  AGENTS.md
  backend/api/permissions.py
  backend/blog/views.py
  backend/blog/viewsets.py
  backend/entrypoint.sh
  backend/gallery/models.py
  backend/gallery/viewsets.py
  docs/CHANGELOG.md
  frontend/src/components/Blog/Comment/CommentForm.jsx
  frontend/src/components/Blog/Comment/CommentList.jsx
  frontend/src/components/Gallery/Photo/PhotoDetail.test.js
  frontend/src/components/Gallery/Photo/PhotoNavigation.jsx
  frontend/src/components/Gallery/Photo/PhotoNavigation.test.js
  frontend/src/components/Pagination/utils/paginationHelpers.js
  frontend/webpack.config.js
  pyproject.toml
  scripts/pgcert.sh
  scripts/s3backup.sh
  tools/fix_typography.py
Due: eslint, markdownlint, mypy

docs: убрать из fix_typography привязку к хуку и частные примеры симлинков
  tools/fix_typography.py
Due: mypy

fix: проверка UTF-8 в fix_typography и строка навигации без HTML-сущности
  frontend/src/components/Gallery/Photo/PhotoNavigation.jsx
  tools/fix_typography.py
Due: eslint, mypy

fix: предупреждение при пустом списке файлов и ограничение UTF-8 в докстринге fix_typography
  tools/fix_typography.py
Due: mypy

feat: блок безопасности за прокси и защита списков хостов от незаданного домена (!44)
  .env.example
  backend/personal_website/settings.py
  backend/personal_website/tests/test_settings.py
  docs/CHANGELOG.md
Due: markdownlint, mypy

feat: параметризация s3backup и s3restore для переноса медиа между бэкендами хранения (!45)
  docs/CHANGELOG.md
  scripts/s3backup.sh
  scripts/s3restore.sh
Due: markdownlint

feat: общий диспетчер деплоя scripts/deploy.sh с выбором механизма по DEPLOY_MODE (!46)
  .agents/skills/production-diagnostics/SKILL.md
  .env.example
  .github/workflows/deploy.yml
  .pre-commit-config.yaml
  .shellcheckrc
  .sourcecraft/ci.yaml
  AGENTS.md
  Dockerfile
  README.md
  docs/CHANGELOG.md
  scripts/deploy.sh
  scripts/docker/deploy.sh
  scripts/docker/update.sh
  scripts/s3backup.sh
  scripts/s3restore.sh
  tools/pg-isready.sh
Due: markdownlint

feat: плагинные бэкапы Django-приложением backup с целями mc/rclone (!47)
  .agents/skills/production-diagnostics/SKILL.md
  .env.example
  AGENTS.md
  Dockerfile
  README.md
  backend/backup/__init__.py
  backend/backup/apps.py
  backend/backup/management/__init__.py
  backend/backup/management/commands/__init__.py
  backend/backup/management/commands/backup.py
  backend/backup/management/commands/backup_db.py
  backend/backup/management/commands/backup_media.py
  backend/backup/management/commands/restore_db.py
  backend/backup/management/commands/restore_media.py
  backend/backup/process.py
  backend/backup/services.py
  backend/backup/targets.py
  backend/backup/tests/__init__.py
  backend/backup/tests/helpers.py
  backend/backup/tests/test_commands.py
  backend/backup/tests/test_process.py
  backend/backup/tests/test_services.py
  backend/backup/tests/test_targets.py
  backend/backup/tests/test_utils.py
  backend/backup/utils.py
  backend/personal_website/settings.py
  docs/CHANGELOG.md
  docs/diagrams/out/container/container.svg
  docs/diagrams/src/container.puml
  pyproject.toml
  scripts/backup.sh
  scripts/cronjobs.sh
  scripts/deploy.sh
  scripts/docker/setup.sh
  scripts/s3backup.sh
  scripts/s3restore.sh
Due: markdownlint, mypy

feat: рецепты развертывания proxy/application и переработка scripts/server (#87, #90)
  .agents/skills/server-setup/SKILL.md
  .env.example
  README.md
  backend/config/gunicorn/gunicorn.service
  backend/config/gunicorn/gunicorn.socket
  backend/config/nginx/default.conf.template
  compose.yaml
  docs/CHANGELOG.md
  docs/deployment/application.md
  docs/deployment/proxy.md
  scripts/server/deploy.sh
  scripts/server/makelink.sh
  scripts/server/nginx/acme-bootstrap.conf.template
  scripts/server/nginx/personal-website.conf.template
  scripts/server/restart.sh
  scripts/server/setup.sh
  scripts/server/systemd/personal-website.service.template
Due: markdownlint

docs: замена термина "ось" на естественные формулировки параметров развертывания
  .agents/skills/server-setup/SKILL.md
  docs/CHANGELOG.md
  docs/deployment/application.md
  docs/deployment/proxy.md
Due: markdownlint

docs: удаление комментариев из шаблонов конфигурационных файлов - логика описана в документации
  docs/CHANGELOG.md
  docs/deployment/application.md
  docs/deployment/proxy.md
  scripts/server/nginx/acme-bootstrap.conf.template
  scripts/server/nginx/personal-website.conf.template
  scripts/server/systemd/personal-website.service.template
Due: markdownlint

docs: перенос логики из удаленных комментариев шаблонов в документацию
  docs/deployment/application.md
  docs/deployment/proxy.md
Due: markdownlint

docs: сокращение записей CHANGELOG до краткого стиля
  docs/CHANGELOG.md
Due: markdownlint

docs: сокращение записей CHANGELOG 2026-08-11 - 2026-08-15
  docs/CHANGELOG.md
Due: markdownlint

docs: уточнение описания скилла server-setup - самодостаточность setup-скриптов
  .agents/skills/server-setup/SKILL.md
Due: markdownlint

feat: вариант systemd-режима с unix-сокетом Gunicorn (socket activation)
  .agents/skills/server-setup/SKILL.md
  docs/CHANGELOG.md
  docs/deployment/application.md
  docs/deployment/proxy.md
  scripts/server/systemd/socket/personal-website.service.template
  scripts/server/systemd/socket/personal-website.socket
Due: markdownlint

docs: матрица и рецепты развертывания, скиллы бэкапов, секции .env.example (#94, #95, #97, #98)
  .agents/skills/backup-audit/SKILL.md
  .agents/skills/backup-restore/SKILL.md
  .agents/skills/postgresql-dump/SKILL.md
  .agents/skills/postgresql-restore/SKILL.md
  .agents/skills/production-diagnostics/SKILL.md
  .agents/skills/server-setup/SKILL.md
  .env.example
  .github/workflows/test.yml
  .sourcecraft/ci.yaml
  AGENTS.md
  README.md
  docs/CHANGELOG.md
  docs/CONTRIBUTING.md
  docs/deployment/backups.md
  docs/deployment/database.md
  docs/deployment/matrix.md
  docs/deployment/storage.md
  docs/diagrams/out/container/container.svg
  docs/diagrams/src/container.puml
  package.json
Due: markdownlint

docs(skills): добавление документации по работе с комментариями к задачам
  .agents/skills/sourcecraft-workflow/SKILL.md
Due: markdownlint

docs: периодичность аудита бэкапов и restore-дрилла не предписывается
  .agents/skills/backup-audit/SKILL.md
  docs/CHANGELOG.md
  docs/deployment/backups.md
Due: markdownlint

fix: ревью стадии 7 - скилл restore-drill, точная сверка verify, формулировки, markdownlint всех md
  .agents/skills/backup-audit/SKILL.md
  .agents/skills/backup-restore/SKILL.md
  .agents/skills/restore-drill/SKILL.md
  .agents/skills/server-setup/SKILL.md
  .github/workflows/test.yml
  .sourcecraft/ci.yaml
  AGENTS.md
  backend/backup/services.py
  backend/backup/tests/test_services.py
  docs/CHANGELOG.md
  docs/deployment/backups.md
  package.json
Due: markdownlint, mypy

fix: ревью стадии 7 - проза в docs/deployment, раздача медиа nginx, терминология, проверка в setup.sh
  .agents/skills/backup-restore/SKILL.md
  .agents/skills/server-setup/SKILL.md
  AGENTS.md
  README.md
  docs/CHANGELOG.md
  docs/deployment/application.md
  docs/deployment/backups.md
  docs/deployment/database.md
  docs/deployment/matrix.md
  docs/deployment/proxy.md
  docs/deployment/storage.md
  docs/diagrams/out/container/container.svg
  docs/diagrams/out/context/context.svg
  docs/diagrams/src/container.puml
  scripts/server/deploy.sh
  scripts/server/nginx/personal-website.conf.template
  scripts/server/restart.sh
  scripts/server/setup.sh
Due: markdownlint

fix: ревью стадии 7 - профиль media для раздачи медиа за Traefik, статусы сервисов в setup.sh
  .env.example
  Taskfile.yml
  compose.yaml
  docs/CHANGELOG.md
  docs/deployment/application.md
  docs/deployment/matrix.md
  docs/deployment/proxy.md
  docs/deployment/storage.md
  scripts/server/setup.sh
  tests/test_traefik.py
Due: markdownlint, mypy
