Repository mikhpo/personal-website: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, markdownlint, mypy, poetry-export

.pre-commit-config.yaml:

# См. https://pre-commit.com для дополнительной информации
# См. https://pre-commit.com/hooks.html для доступных хуков

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-added-large-files
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort (python)
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.10.0
    hooks:
      - id: black
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/python-poetry/poetry
    rev: "2.0.0"
    hooks:
      - id: poetry-check
      - id: poetry-lock
      - id: poetry-install
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        description: Статический анализ кода JavaScript при помощи ESLint
        entry: npm run eslint
        language: system
        types: [file]
        files: \.[jt]sx?$  # *.js, *.jsx, *.ts, *.tsx
      - id: markdownlint
        name: markdownlint
        description: Проверка Markdown файлов при помощи markdownlint
        entry: npm run markdownlint
        language: system
        types: [file]
        files: \.(md|markdown)$
      - id: mypy
        name: mypy
        description: Выполнить проверки типов при помощи Mypy
        entry: poetry run mypy .
        language: system
        types: [python]
        pass_filenames: false
      - id: poetry-export
        name: poetry-export
        description: Экспорт зависимостей в requirements.txt
        entry: bash -c 'poetry run pip freeze > requirements.txt'
        language: system
        pass_filenames: false
        files: ^(.*/)?poetry\.lock$

style(alert): remove extra whitespace and fix indentation in test files
  personal_website/frontend/src/components/Alert/Alert.test.js
  personal_website/frontend/src/components/Alert/AlertList.jsx
Due: eslint

feat(gallery): add album card component with comprehensive tests
  personal_website/frontend/src/components/Gallery/Album/AlbumCard.jsx
  personal_website/frontend/src/components/Gallery/Album/AlbumCard.test.js
Due: eslint

feat(gallery): add album list component with comprehensive tests
  personal_website/frontend/src/components/Gallery/Album/AlbumList.jsx
  personal_website/frontend/src/components/Gallery/Album/AlbumList.test.js
Due: eslint

feat(gallery): add EXIF data display component with comprehensive tests
  personal_website/frontend/src/components/Gallery/Photo/ExifData.jsx
  personal_website/frontend/src/components/Gallery/Photo/ExifData.test.js
Due: eslint

feat(gallery): add photo card component with lazy loading and date formatting
  personal_website/frontend/src/components/Gallery/Photo/PhotoCard.jsx
  personal_website/frontend/src/components/Gallery/Photo/PhotoCard.test.js
Due: eslint

feat(gallery): Implement React-based photo card components with API integration
  personal_website/frontend/src/components/Gallery/Photo/PhotoCard/PhotoCard.jsx
  personal_website/frontend/src/components/Gallery/Photo/PhotoCard/PhotoCard.test.js
  personal_website/frontend/src/components/Gallery/Photo/PhotoCard/hooks/useAlbumPhotos.js
  personal_website/frontend/src/components/Gallery/Photo/PhotoCard/hooks/useAlbumPhotos.test.js
  personal_website/frontend/src/components/Gallery/Photo/PhotoCard/hooks/usePhotoData.js
  personal_website/frontend/src/components/Gallery/Photo/PhotoCard/hooks/usePhotoData.test.js
  personal_website/frontend/src/components/Gallery/Photo/PhotoCard/hooks/usePhotoNavigation.js
  personal_website/frontend/src/components/Gallery/Photo/PhotoCard/hooks/usePhotoNavigation.test.js
Due: eslint

feat(gallery): add photo list component with loading and error handling
  personal_website/frontend/src/components/Gallery/Photo/PhotoList.jsx
  personal_website/frontend/src/components/Gallery/Photo/PhotoList.test.js
Due: eslint

feat(gallery): add photo navigation component with tests
  personal_website/frontend/src/components/Gallery/Photo/PhotoNavigation.jsx
  personal_website/frontend/src/components/Gallery/Photo/PhotoNavigation.test.js
Due: eslint

style(spinner): fix trailing newline in component and test files
  personal_website/frontend/src/components/Spinner/Spinner.jsx
  personal_website/frontend/src/components/Spinner/Spinner.test.js
Due: eslint

feat(gallery): add photo tags component with tests
  personal_website/frontend/src/components/Gallery/Photo/PhotoTags.jsx
  personal_website/frontend/src/components/Gallery/Photo/PhotoTags.test.js
Due: eslint

feat(gallery): add TagButton component with tests
  personal_website/frontend/src/components/Gallery/Tags/TagButton.jsx
  personal_website/frontend/src/components/Gallery/Tags/TagButton.test.js
Due: eslint

feat(gallery): add TagsOffcanvas component with tests
  personal_website/frontend/src/components/Gallery/Tags/TagsOffcanvas.jsx
  personal_website/frontend/src/components/Gallery/Tags/TagsOffcanvas.test.js
Due: eslint

feat(gallery): implement component registry and optimize mounting logic
  personal_website/frontend/src/index.js
Due: eslint

feat(gallery): add photo upload components with tests
  personal_website/frontend/src/components/Gallery/Upload/AlbumSelector.jsx
  personal_website/frontend/src/components/Gallery/Upload/AlbumSelector.test.js
  personal_website/frontend/src/components/Gallery/Upload/FileDropzone.jsx
  personal_website/frontend/src/components/Gallery/Upload/FileDropzone.test.js
  personal_website/frontend/src/components/Gallery/Upload/PhotoUploadForm.jsx
  personal_website/frontend/src/components/Gallery/Upload/PhotoUploadForm.test.js
  personal_website/frontend/src/components/Gallery/Upload/UploadProgress.jsx
  personal_website/frontend/src/components/Gallery/Upload/UploadProgress.test.js
Due: eslint

refactor(gallery): simplify views and update URL routing
  personal_website/gallery/urls.py
  personal_website/gallery/views.py
  personal_website/gallery/viewsets.py
Due: mypy

feat(templates): enable react component invocation in Django views
  personal_website/personal_website/settings.py
Due: mypy

refactor(gallery): migrate templates to React components
  personal_website/templates/gallery/album_detail.html
  personal_website/templates/gallery/album_list.html
  personal_website/templates/gallery/albums.html
  personal_website/templates/gallery/photo_detail.html
  personal_website/templates/gallery/photo_list.html
  personal_website/templates/gallery/photos.html
  personal_website/templates/gallery/tag_detail.html
Due: none

test(gallery): simplify view tests and remove unused imports
  personal_website/gallery/tests/test_views.py
Due: mypy

chore(deps): add types-django-filter and improve type hints in gallery views
  personal_website/gallery/views.py
  personal_website/personal_website/templatetags/react.py
  poetry.lock
  pyproject.toml
Due: mypy, poetry-export

refactor(gallery): remove albums context and template fallback
  personal_website/gallery/views.py
  personal_website/templates/gallery/albums.html
Due: mypy

chore(taskfile): add pre-commit task
  Taskfile.yml
Due: none

chore: ignore todo and planning files
  .gitignore
Due: none

refactor(gallery): migrate PhotoCard to PhotoDetail component
  personal_website/frontend/src/components/Gallery/Photo/PhotoCard.jsx
  personal_website/frontend/src/components/Gallery/Photo/PhotoDetail.test.js
  personal_website/frontend/src/components/Gallery/Photo/PhotoDetail/PhotoDetail.jsx
  personal_website/frontend/src/components/Gallery/Photo/PhotoDetail/hooks/useAlbumPhotos.js
  personal_website/frontend/src/components/Gallery/Photo/PhotoDetail/hooks/useAlbumPhotos.test.js
  personal_website/frontend/src/components/Gallery/Photo/PhotoDetail/hooks/usePhotoData.js
  personal_website/frontend/src/components/Gallery/Photo/PhotoDetail/hooks/usePhotoData.test.js
  personal_website/frontend/src/components/Gallery/Photo/PhotoDetail/hooks/usePhotoNavigation.js
  personal_website/frontend/src/components/Gallery/Photo/PhotoDetail/hooks/usePhotoNavigation.test.js
  personal_website/frontend/src/components/Gallery/Photo/PhotoList.test.js
  personal_website/frontend/src/components/Gallery/Photo/PhotoNavigation.test.js
  personal_website/frontend/src/index.js
Due: eslint

docs: add manual development mode instructions and remove dev task
  README.md
  Taskfile.yml
  tools/run-dev.sh
Due: markdownlint

docs: remove deprecated dev task from AGENTS.md
  AGENTS.md
Due: markdownlint

feat(gallery): add list views for photos and albums
  personal_website/gallery/tests/test_views.py
  personal_website/gallery/urls.py
  personal_website/gallery/views.py
Due: mypy

feat(alert): rename Alert component to AlertDetail and update imports
  personal_website/frontend/src/components/Alert/AlertDetail.jsx
  personal_website/frontend/src/components/Alert/AlertDetail.test.js
  personal_website/frontend/src/components/Alert/AlertList.jsx
  personal_website/frontend/src/components/Alert/AlertList.test.js
  personal_website/frontend/src/index.js
  personal_website/gallery/tests/test_views.py
  personal_website/templates/base.html
Due: eslint, mypy

feat(navbar): implement dynamic gallery dropdown logic
  personal_website/main/context_processors.py
Due: mypy

feat(gallery): implement unified upload endpoint with validation tests
  personal_website/frontend/src/components/Gallery/Upload/PhotoUploadForm.jsx
  personal_website/gallery/tests/test_viewsets.py
  personal_website/gallery/urls.py
  personal_website/gallery/viewsets.py
Due: eslint, mypy

feat(templates): add automatic React component mounting via data attributes
  personal_website/templates/base.html
Due: none

docs: add frontend build instructions and simplify setup steps
  AGENTS.md
  README.md
Due: markdownlint

feat(gallery): add placeholder for albums without cover images
  personal_website/frontend/src/components/Gallery/Album/AlbumCard.jsx
Due: eslint

refactor(gallery): simplify PhotoCard to image-only layout
  personal_website/frontend/src/components/Gallery/Photo/PhotoCard.jsx
  personal_website/frontend/src/components/Gallery/Photo/PhotoCard.test.js
Due: eslint

test(gallery): add EXIF data support to image factory
  personal_website/gallery/factories.py
  personal_website/gallery/tests/test_factories.py
Due: mypy

feat(gallery): enhance test data generation and navbar logic
  personal_website/gallery/management/commands/generate_gallery_objects.py
  personal_website/main/context_processors.py
Due: mypy

refactor(main): migrate context processors to typed dataclasses
  personal_website/main/context_processors.py
Due: mypy

refactor(main): remove duplicate gallery link append
  personal_website/main/context_processors.py
Due: mypy

test(gallery): split view tests and add E2E album verification
  personal_website/gallery/tests/test_views.py
  personal_website/templates/gallery/album_detail.html
Due: mypy

refactor(navbar): consolidate navigation components into NavItems
  personal_website/frontend/src/components/Navbar/BrandSection.jsx
  personal_website/frontend/src/components/Navbar/DropdownMenu.jsx
  personal_website/frontend/src/components/Navbar/NavItems.jsx
  personal_website/frontend/src/components/Navbar/NavItems.test.js
  personal_website/frontend/src/components/Navbar/NavLink.jsx
  personal_website/frontend/src/components/Navbar/NavLinksMapper.jsx
  personal_website/frontend/src/components/Navbar/Navbar.jsx
  personal_website/frontend/src/components/Navbar/Navbar.test.js
  personal_website/frontend/src/components/Navbar/OffcanvasTrigger.jsx
  personal_website/frontend/src/components/Navbar/UserAuthSection.test.js
Due: eslint

refactor(pagination): consolidate navigation logic and simplify component structure
  personal_website/frontend/src/components/Pagination/NavigationControls.jsx
  personal_website/frontend/src/components/Pagination/NavigationControls.test.js
  personal_website/frontend/src/components/Pagination/NavigationPagination.jsx
  personal_website/frontend/src/components/Pagination/NavigationPagination.test.js
  personal_website/frontend/src/components/Pagination/NextButtons.jsx
  personal_website/frontend/src/components/Pagination/NextButtons.test.js
  personal_website/frontend/src/components/Pagination/NumbersPagination.jsx
  personal_website/frontend/src/components/Pagination/NumbersPagination.test.js
  personal_website/frontend/src/components/Pagination/PageNumbers.jsx
  personal_website/frontend/src/components/Pagination/PageNumbers.test.js
  personal_website/frontend/src/components/Pagination/Pagination.jsx
  personal_website/frontend/src/components/Pagination/Pagination.test.js
  personal_website/frontend/src/components/Pagination/PreviousButtons.jsx
  personal_website/frontend/src/components/Pagination/PreviousButtons.test.js
  personal_website/frontend/src/components/Pagination/utils/pageItemsGenerator.js
  personal_website/frontend/src/components/Pagination/utils/pageItemsGenerator.test.js
  personal_website/frontend/src/components/Pagination/utils/paginationRenderers.js
Due: eslint
