Repository mikhpo/personal-website: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, markdownlint, mypy, poetry-export

eslint:
  name: eslint
  description: Статический анализ кода JavaScript при помощи ESLint
  entry: npm run eslint
  language: system

markdownlint:
  name: markdownlint
  description: Проверка Markdown файлов при помощи markdownlint
  entry: npm run markdownlint
  language: system

mypy:
  name: mypy
  description: Выполнить проверки типов при помощи Mypy
  entry: poetry run mypy .
  language: system
  pass_filenames: false

poetry-export:
  name: poetry-export
  description: Экспорт зависимостей в requirements.txt
  entry: bash -c 'poetry run pip freeze > requirements.txt'
  language: system
  pass_filenames: false

fix: расписание cron исключено из оберток синхронизации по решению пользователя
  .github/workflows/trunk.yml
  .sourcecraft/ci.yaml
  docs/CHANGELOG.md
  docs/CONTRIBUTING.md
Due: markdownlint

docs: в README описание CI/CD заменено ссылкой на CONTRIBUTING
  README.md
Due: markdownlint

docs: пункт о зеркалах в README ссылается на документ без якоря
  README.md
Due: markdownlint

docs: раздел CI/CD в CONTRIBUTING развернут по прежнему формату, добавлен trunk-workflow
  docs/CONTRIBUTING.md
Due: markdownlint

docs: в таблице секретов SourceCraft восстановлен правильный набор, включая SYNC_GITHUB_SSH_KEY
  docs/CONTRIBUTING.md
Due: markdownlint

fix: состояние своего зеркала берется из рабочей копии CI-обертки (SYNC_SELF) без ключа для доступа к нему самому
  .github/workflows/trunk.yml
  .sourcecraft/ci.yaml
  tools/sync_mirrors.py
Due: mypy

refactor: платформа CI определяется штатными переменными окружения вместо SYNC_SELF, имена функций уточнены
  .github/workflows/trunk.yml
  .sourcecraft/ci.yaml
  tools/sync_mirrors.py
Due: mypy

refactor: имена функций начинаются с глагола и не допускают двоякого чтения
  tools/sync_mirrors.py
Due: mypy

refactor: возврат к идиоматичным именам log и is_ancestor, объединение поиска git в require_git_binary
  tools/sync_mirrors.py
Due: mypy

refactor: удалены устаревшие комментарии о SYNC_SELF и определении платформы CI
  tools/sync_mirrors.py
Due: mypy

docs: описание автоопределения платформы синхронизации в разделе CI/CD
  docs/CONTRIBUTING.md
Due: markdownlint

fix: запуск ssh-agent в обертке GitHub Actions - раннер не имеет запущенного агента
  .github/workflows/trunk.yml
Due: none

feat: скилл github-workflow для работы с GitHub через gh
  .agents/skills/github-workflow/SKILL.md
  docs/CHANGELOG.md
Due: markdownlint

feat: ручной запуск деплоя в GitHub Actions
  .agents/skills/github-workflow/SKILL.md
  .github/workflows/deploy.yml
  docs/CHANGELOG.md
  docs/CONTRIBUTING.md
Due: markdownlint

feat: единый формат переносов строк в Markdown с автозаменой в pre-commit
  .agents/skills/backup-audit/SKILL.md
  .agents/skills/backup-restore/SKILL.md
  .agents/skills/fix-documentation/SKILL.md
  .agents/skills/restore-drill/SKILL.md
  .agents/skills/server-setup/SKILL.md
  .agents/skills/sourcecraft-workflow/SKILL.md
  .agents/skills/spec-driven-development/SKILL.md
  .pre-commit-config.yaml
  AGENTS.md
  docs/CHANGELOG.md
  docs/deployment/application.md
  docs/deployment/backups.md
  docs/deployment/database.md
  docs/deployment/matrix.md
  docs/deployment/proxy.md
  docs/deployment/storage.md
  tools/unwrap_markdown.py
Due: markdownlint, mypy

docs: правила скилла github-workflow - merge после зеленого CI и assignee в задачах и PR
  .agents/skills/github-workflow/SKILL.md
  docs/CHANGELOG.md
Due: markdownlint

feat: поиск по статьям блога
  backend/blog/tests/test_views.py
  backend/blog/views.py
  backend/templates/blog/article_list.html
  docs/CHANGELOG.md
  frontend/src/components/Blog/Article/ArticleList.jsx
  frontend/src/components/Blog/Article/ArticleList.test.js
  frontend/src/components/SearchForm/SearchForm.jsx
  frontend/src/components/SearchForm/SearchForm.test.js
  frontend/src/index.js
  frontend/src/utils/navigate.js
Due: eslint, markdownlint, mypy

refactor: компонент поиска перенесен в каталог Search
  backend/blog/tests/test_views.py
  backend/templates/blog/article_list.html
  frontend/src/components/Search/SearchForm.jsx
  frontend/src/components/Search/SearchForm.test.js
  frontend/src/index.js
Due: eslint, mypy

docs: убрать ссылку на задачу из записи CHANGELOG
  docs/CHANGELOG.md
Due: markdownlint

feat: поиск по фотографиям и альбомам галереи
  backend/gallery/tests/test_views.py
  backend/gallery/views.py
  backend/templates/gallery/album_list.html
  backend/templates/gallery/photo_list.html
  docs/CHANGELOG.md
  frontend/src/components/Gallery/Album/AlbumList.jsx
  frontend/src/components/Gallery/Album/AlbumList.test.js
  frontend/src/components/Gallery/Photo/PhotoList.jsx
  frontend/src/components/Gallery/Photo/PhotoList.test.js
Due: eslint, markdownlint, mypy

feat: полнотекстовый поиск статей блога на PostgreSQL
  backend/api/search.py
  backend/blog/tests/test_viewsets.py
  backend/blog/viewsets.py
  backend/personal_website/settings.py
  docs/CHANGELOG.md
Due: markdownlint, mypy

refactor: модуль фильтра поиска переименован в api/filters.py
  backend/api/filters.py
  backend/blog/viewsets.py
Due: mypy

refactor(api): выделение модуля поиска в отдельный файл api/search.py
  backend/api/search.py
Due: mypy

refactor: удалить дублирующий модуль api/search.py, описание SEARCH_WEIGHTS перенесено в комментарий
  backend/api/filters.py
  backend/api/search.py
Due: mypy

feat: полнотекстовый поиск альбомов и фотографий галереи
  backend/gallery/tests/test_viewsets.py
  backend/gallery/viewsets.py
  docs/CHANGELOG.md
Due: markdownlint, mypy

feat: поиск на входной странице галереи
  backend/gallery/tests/test_views.py
  backend/gallery/views.py
  docs/CHANGELOG.md
Due: markdownlint, mypy

feat: смонтировать форму поиска и проп search в шаблонах страницы галереи
  backend/templates/gallery/albums.html
  backend/templates/gallery/gallery_home.html
Due: none

feat: общий поиск по сайту с формой в навигационной панели
  backend/main/tests.py
  backend/main/views.py
  backend/personal_website/urls.py
  backend/templates/main/search.html
  docs/CHANGELOG.md
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/Navbar/Navbar.test.js
  frontend/src/components/Search/SearchResults.jsx
  frontend/src/components/Search/SearchResults.test.js
  frontend/src/index.js
Due: eslint, markdownlint, mypy

fix: маршрут общего поиска перемещен на main/search, исправлен отступ формы в навигационной панели
  backend/main/tests.py
  backend/main/urls.py
  backend/personal_website/urls.py
  backend/templates/main/search.html
  docs/CHANGELOG.md
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/Navbar/Navbar.test.js
  frontend/src/components/Search/SearchResults.jsx
Due: eslint, markdownlint, mypy

feat: кнопки поиска в стиле outline-secondary, симметричный отступ формы поиска в навигационной панели
  backend/main/tests.py
  backend/staticfiles/css/navbar.css
  backend/templates/main/search.html
  docs/CHANGELOG.md
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/Navbar/Navbar.test.js
  frontend/src/components/Search/SearchForm.jsx
  frontend/src/components/Search/SearchForm.test.js
Due: eslint, markdownlint, mypy

feat: кнопки всех форм поиска переведены на outline-secondary по умолчанию
  backend/main/tests.py
  backend/templates/main/search.html
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/Search/SearchForm.jsx
  frontend/src/components/Search/SearchForm.test.js
Due: eslint, mypy

docs: прокомментировано построение поискового вектора и ранжирование в DatabaseSearchFilter
  backend/api/filters.py
Due: mypy

style: добавлены пустые строки между комментариями и кодом в DatabaseSearchFilter
  backend/api/filters.py
Due: mypy

feat: скилл browser-screenshots для скриншотов страниц сайта
  .agents/skills/browser-screenshots/SKILL.md
Due: markdownlint

feat: переключение фотографий клавиатурой и свайпами на странице просмотра
  docs/CHANGELOG.md
  frontend/src/components/Gallery/Photo/PhotoDetail.jsx
  frontend/src/components/Gallery/Photo/PhotoDetail.test.js
  frontend/src/hooks/index.js
  frontend/src/hooks/usePhotoNavigation.js
  frontend/src/hooks/usePhotoNavigation.test.js
  frontend/src/services/index.js
  frontend/src/services/navigation.js
Due: eslint, markdownlint

feat: масштабирование страницы, skip-link и семантические области в базовом шаблоне
  backend/templates/base.html
Due: none

chore: подключить eslint-plugin-jsx-a11y
  eslint.config.mjs
  package-lock.json
  package.json
Due: none

docs: запись о проработке доступности в CHANGELOG
  docs/CHANGELOG.md
Due: markdownlint

fix: симметричный отступ перед кнопкой выхода в навигационной панели
  frontend/src/components/Navbar/UserAuthSection.jsx
Due: eslint

Path conditions:
  eslint: any of: \.[jt]sx?$
  markdownlint: any of: \.(md|markdown)$
  mypy: any of: \.py$
  poetry-export: any of: ^(.*/)?poetry\.lock$
