Repository mikhpo/personal-website: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, markdownlint, mypy, poetry-export

eslint:
  name: eslint
  description: Статический анализ кода JavaScript при помощи ESLint
  entry: npm run eslint
  language: system

markdownlint:
  name: markdownlint
  description: Проверка Markdown файлов при помощи markdownlint
  entry: npm run markdownlint
  language: system

mypy:
  name: mypy
  description: Выполнить проверки типов при помощи Mypy
  entry: poetry run mypy .
  language: system
  pass_filenames: false

poetry-export:
  name: poetry-export
  description: Экспорт зависимостей в requirements.txt
  entry: bash -c 'poetry run pip freeze > requirements.txt'
  language: system
  pass_filenames: false

fix: разместить {% block meta %} внутри <head>
  backend/templates/base.html
Due: none

refactor: убрать дублирование «единая инварианта» из docstring
  backend/api/permissions.py
  backend/api/tests/test_permissions.py
  backend/blog/tests/test_viewsets.py
  backend/blog/views.py
  backend/blog/viewsets.py
  backend/gallery/tests/test_views.py
  backend/gallery/tests/test_viewsets.py
  backend/gallery/views.py
  backend/gallery/viewsets.py
Due: mypy

fix: write-операции только для staff, комментарии — для автора или staff
  backend/api/permissions.py
  backend/api/tests/test_permissions.py
  docs/CHANGELOG.md
Due: markdownlint, mypy

docs: уточнить docstring IsPublicOrAuthor про write для любых объектов
  backend/api/permissions.py
Due: mypy

refactor: убрать дублирование термина «share-by-link» и избыточные тесты
  backend/api/permissions.py
  backend/api/tests/test_permissions.py
  backend/blog/tests/test_views.py
  backend/blog/tests/test_viewsets.py
  backend/gallery/tests/test_views.py
  backend/gallery/tests/test_viewsets.py
  docs/CHANGELOG.md
Due: markdownlint, mypy

chore: игнорировать pr/mr/issue description файлы в обоих написаниях
  .gitignore
Due: none

refactor: simplify permission docstrings and remove redundant details
  backend/api/permissions.py
  backend/blog/tests/test_viewsets.py
  backend/gallery/tests/test_viewsets.py
Due: mypy

refactor: runtime-доставка SSL-сертификата PostgreSQL по конвенции libpq
  .env.example
  AGENTS.md
  Dockerfile
  README.md
  compose.yaml
  docs/CHANGELOG.md
  docs/CONTRIBUTING.md
  scripts/pgcert.sh
  scripts/server/deploy.sh
  scripts/server/update.sh
Due: markdownlint

chore: reorder htmlcov volume mount in compose.yaml
  compose.yaml
Due: none

style: fix formatting and indentation in compose.yaml
  compose.yaml
Due: none

docs: add yc-postgresql skill for YC Managed PostgreSQL
  .agents/skills/yc-postgresql/SKILL.md
Due: markdownlint

refactor: замена скриптов бэкапа/восстановления БД на инструкции и скиллы
  .agents/skills/postgresql-dump/SKILL.md
  .agents/skills/postgresql-restore/SKILL.md
  README.md
  docs/CHANGELOG.md
  scripts/cronjobs.sh
  scripts/docker/update.sh
  scripts/pgbackup.sh
  scripts/pgrestore.sh
  scripts/server/restart.sh
Due: markdownlint

refactor: правки по ревью PR и актуализация скиллов/документации
  .agents/skills/postgresql-dump/SKILL.md
  .agents/skills/postgresql-restore/SKILL.md
  README.md
  docs/CHANGELOG.md
  scripts/server/restart.sh
Due: markdownlint

feat: bash-хелпер pg-dump.sh в скилле postgresql-dump
  .agents/skills/postgresql-dump/SKILL.md
  .agents/skills/postgresql-dump/scripts/pg-dump.sh
Due: markdownlint

docs(pg-dump): remove pg_dump version requirement note from comments
  .agents/skills/postgresql-dump/scripts/pg-dump.sh
Due: none

fix: корректировка разрешения project_root в cronjobs.sh
  scripts/cronjobs.sh
Due: none

feat: перевод раздачи статики и ImageKit-кэша на S3
  .env.example
  backend/config/nginx/default.conf.template
  backend/personal_website/settings.py
  backend/personal_website/storages.py
  backend/personal_website/tests/test_storages.py
  backend/personal_website/tests/test_views.py
  backend/personal_website/urls.py
  backend/personal_website/views.py
  docs/CHANGELOG.md
  frontend/webpack.config.js
  nginx/templates/default.conf.template
  scripts/server/deploy.sh
  scripts/server/update.sh
  tests/test_nginx.py
Due: eslint, markdownlint, mypy

refactor: вынос общих S3-параметров хранилищ в s3_storage_options
  backend/personal_website/settings.py
  backend/personal_website/tests/test_storages.py
Due: mypy

test: update test_views.py
  backend/personal_website/tests/test_views.py
Due: mypy

perf: ускорение выгрузки статики в S3 и таймаут деплоя 30 минут
  .github/workflows/deploy.yml
  .gitignore
  .sourcecraft/ci.yaml
  backend/personal_website/settings.py
  docs/CHANGELOG.md
  frontend/webpack.config.js
  scripts/server/deploy.sh
  scripts/server/update.sh
Due: eslint, markdownlint, mypy

feat: разделение dev-сервисов postgres и minio через compose profiles
  .env.example
  AGENTS.md
  README.md
  Taskfile.yml
  backend/entrypoint.sh
  compose.yaml
  docs/CHANGELOG.md
  docs/CONTRIBUTING.md
Due: markdownlint

build(deps): update package-lock.json
  package-lock.json
Due: none

refactor: вынос разбора URL MinIO в отдельную функцию entrypoint
  backend/entrypoint.sh
Due: none

feat: включение COMPOSE_PROFILES в шаблоне .env.example по умолчанию
  .env.example
Due: none

docs: нейтральные формулировки о внешних сервисах вместо заявлений о топологии продакшена
  .env.example
  AGENTS.md
  README.md
  backend/entrypoint.sh
  compose.yaml
  docs/CHANGELOG.md
  docs/CONTRIBUTING.md
Due: markdownlint

fix: условный флаг --wait в задачах Taskfile для совместимости с Docker Compose V1
  Taskfile.yml
  docs/CHANGELOG.md
Due: markdownlint

feat: замена nginx на Traefik с автоматическими сертификатами Let's Encrypt
  .agents/skills/production-diagnostics/SKILL.md
  .env.example
  .github/workflows/deploy.yml
  .gitignore
  .sourcecraft/ci.yaml
  AGENTS.md
  Dockerfile
  README.md
  Taskfile.yml
  backend/entrypoint.sh
  backend/personal_website/settings.py
  compose.yaml
  docs/CHANGELOG.md
  docs/diagrams/out/container/container.svg
  docs/diagrams/src/container.puml
  nginx/.dockerignore
  nginx/Dockerfile
  nginx/certbot.sh
  nginx/templates/default.conf.template
  pyproject.toml
  scripts/docker/deploy.sh
  scripts/docker/setup.sh
  tests/test_nginx.py
  tests/test_traefik.py
Due: markdownlint, mypy

fix: healthcheck Traefik, порядок деплоя и комментарий к verify=False
  compose.yaml
  scripts/docker/deploy.sh
  tests/test_traefik.py
Due: mypy

revert: возврат исходной схемы логирования Django и фиксация правила в AGENTS.md
  AGENTS.md
  backend/personal_website/settings.py
  docs/CHANGELOG.md
Due: markdownlint, mypy

fix: единообразное подключение консольного хэндлера к логгеру django.request
  backend/personal_website/settings.py
  docs/CHANGELOG.md
Due: markdownlint, mypy

docs: упрощение формулировок описания Traefik
  README.md
  compose.yaml
  docs/CHANGELOG.md
  docs/diagrams/out/container/container.svg
  docs/diagrams/src/container.puml
Due: markdownlint

docs: реэкспорт диаграммы контейнеров после упрощения формулировки Traefik
  docs/diagrams/out/container/container.svg
Due: none

refactor: вызов pgcert.sh только при первичной настройке сервера
  docs/CHANGELOG.md
  scripts/docker/deploy.sh
  scripts/server/update.sh
Due: markdownlint

refactor: переименование скриптов bare-metal развертывания
  README.md
  docs/CHANGELOG.md
  docs/CONTRIBUTING.md
  scripts/pgcert.sh
  scripts/server/deploy.sh
  scripts/server/setup.sh
  scripts/server/update.sh
Due: markdownlint

docs: актуализация документации под Traefik
  .env.example
  .gitignore
  AGENTS.md
  README.md
  compose.yaml
  docs/CHANGELOG.md
  docs/CONTRIBUTING.md
  pyproject.toml
  tests/test_traefik.py
Due: markdownlint, mypy

fix: актуализация версии образа traefik до v3.7
  compose.yaml
  docs/CHANGELOG.md
Due: markdownlint

fix: рециклинг воркеров Gunicorn для ограничения дрейфа RSS
  backend/entrypoint.sh
  docs/CHANGELOG.md
Due: markdownlint

docs: add server-setup skill for Docker deployment
  .agents/skills/server-setup/SKILL.md
Due: markdownlint

fix: устранение блокеров Docker-миграции (#80, #81, #82, #83)
  .env.example
  .sourcecraft/ci.yaml
  README.md
  backend/entrypoint.sh
  compose.yaml
  docs/CHANGELOG.md
  docs/CONTRIBUTING.md
Due: markdownlint

fix: удаление зеркальных workflows GitHub Actions из цепочки деплоя (#83)
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

Path conditions:
  eslint: any of: \.[jt]sx?$
  markdownlint: any of: \.(md|markdown)$
  mypy: any of: \.py$
  poetry-export: any of: ^(.*/)?poetry\.lock$
